{% extends 'items/base.html' %}
{% load static %}
{% load markdown_extras %}
{% block title %}Best in Slot - EQ Archives{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'spells/css/eq-ui.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid eq-window-complex-fancy py-4">
        <div class="row row-cols-9">
            {% for index, name in player_classes.items %}
                <div class="col">
                    {# Class 0 doesn't exist, and class 15 (beastlord) and class 16 (berserker) aren't released yet #}
                    {% if index != 0 and index < 15 %}
                        {% if index == class_id %}
                            <a href="/items/bis/{{ index }}"
                               class="btn eq-button-fancy-highlighted eq-button-fancy d-flex flex-column align-items-center rounded-0"
                               style="height: 100px;">
                                <img class="img-fluid" src="/static/images/class_icons/{{ index }}.gif"
                                     alt="{{ name }} icon" style="max-height: 70%; max-width: 70%;">
                                <span class="hidden-print">{{ name }}</span>
                            </a>
                        {% else %}
                            <a href="/items/bis/{{ index }}"
                               class="btn eq-button-fancy d-flex flex-column align-items-center rounded-0"
                               style="height: 100px;">
                                <img class="img-fluid" src="/static/images/class_icons/{{ index }}.gif"
                                     alt="{{ name }} icon" style="max-height: 70%; max-width: 70%;">
                                <span class="hidden-print">{{ name }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12"><h2 class="text-center mb-4">{{ selected_class }} Best in Slot</h2></div>
        {% if class_id == None %}
            <div class="col-2 text-center mt-4 mb-4 align-items-center"><p>Select a class above.</p></div>
        {% else %}
            <div class="col-2">
                <div class="eq-window-fancy flex-column me-3 bis-div" id="bisTab" role="tablist"
                     aria-orientation="vertical">
                    <button class="eq-button-fancy active" id=vanilla-pre-planar-tab" data-bs-toggle="pill"
                            data-bs-target="#vanilla-pre-planar-tab-pane" type="button" role="tab"
                            aria-controls="vanilla-pre-planar-tab-pane" aria-selected="true">Vanilla Pre-Planar Gear
                    </button>
                    <button class="eq-button-fancy" id=vanilla-planar-tab" data-bs-toggle="pill"
                            data-bs-target="#vanilla-planar-tab-pane" type="button" role="tab"
                            aria-controls="vanilla-planar-tab-pane" aria-selected="false">Vanilla Planar Gear
                    </button>
                    <button class="eq-button-fancy" id=kunark-tab" data-bs-toggle="pill"
                            data-bs-target="#kunark-tab-pane" type="button" role="tab"
                            aria-controls="kunark-tab-pane" aria-selected="false">Kunark Gear
                    </button>
                    <button class="eq-button-fancy" id=velious-group-tab" data-bs-toggle="pill"
                            data-bs-target="#velious-group-tab-pane" type="button" role="tab"
                            aria-controls="velious-group-tab-pane" aria-selected="false">Velious Group Gear
                    </button>
                    <button class="eq-button-fancy" id=velious-raid-tab" data-bs-toggle="pill"
                            data-bs-target="#velious-raid-tab-pane" type="button" role="tab"
                            aria-controls="velious-raid-tab-pane" aria-selected="false">Velious Raid Gear
                    </button>
                </div>
            </div>
            <div class="col tab-content" id="bisTabContent">
                <div class="tab-pane fade show active" id="vanilla-pre-planar-tab-pane" role="tabpanel"
                     aria-labelledby="vanilla-pre-planar-tab"
                     tabindex="0">
                    <div class="row px-4">
                        {{ vanilla_pre_planar_file|render_markdown }}
                    </div>
                </div>
                <div class="tab-pane fade" id="vanilla-planar-tab-pane" role="tabpanel"
                     aria-labelledby="vanilla-planar-tab"
                     tabindex="1">
                    <div class="row px-4">
                        {{ vanilla_planar_file|render_markdown }}
                    </div>
                </div>
                <div class="tab-pane fade" id="kunark-tab-pane" role="tabpanel"
                     aria-labelledby="kunark-tab"
                     tabindex="2">
                    <div class="row px-4">
                        {{ kunark_file|render_markdown }}
                    </div>
                </div>
                <div class="tab-pane fade" id="velious-group-tab-pane" role="tabpanel"
                     aria-labelledby="velious-group-tab"
                     tabindex="3">
                    <div class="row px-4">
                        {{ velious_group_file|render_markdown }}
                    </div>
                </div>
                <div class="tab-pane fade" id="velious-raid-tab-pane" role="tabpanel"
                     aria-labelledby="velious-raid-tab"
                     tabindex="4">
                    <div class="row px-4">
                        {{ velious_raid_file|render_markdown }}
                    </div>
                </div>
            </div>
            </div>
        {% endif %}
{% endblock %}
