{% load data_utilities %}
{% load item_filters %}
{% load tradeskill_filters %}
{% load static %}
{% load humanize %}
<div class="item_top_background">
    <div class="item_title">{{ item.Name }}</div>
</div>
<div class="item_background">
    <div class="item_data">
        <div class="item_icon" style="float:right;"><img
                src="{% static "/images/items/" %}/item_{{ item.icon }}.png" alt=""/></div>
        {# Item Row 1 #}
        {% if item.magic or item.no_rent == 0 or item.lore|first in '*' or item.nodrop == 0 %}
            {% if item.magic %}MAGIC ITEM {% endif %}
            {% if item.no_rent == 0 %}NO RENT {% endif %}
            {% if item.lore|first in '*' %}LORE ITEM{% endif %}
            {% if item.no_drop == 0 %}NODROP{% endif %}
            <br/>
        {% endif %}
        {# Slots is a bitfield #}
        {% if item.slots %}Slot: {{ item.slots|item_slots }}<br/>{% endif %}
        {% if item.item_type >= 0 and item.delay %}
            {% if item.item_type >= 0 %}Skill:&nbsp;{{ item.item_type|item_type }}&nbsp;
            {% endif %}
            {% if item.delay %}Atk Delay:&nbsp;{{ item.delay }}{% endif %}
            <br/>
        {% endif %}
        {% if item.damage %}DMG:&nbsp;{{ item.damage }}<br/>{% endif %}
        {% if item.max_charges > 0 %}Charges: {{ item.max_charges }}<br/>{% endif %}
        {% if item.ac %}AC: {{ item.ac }}<br/>{% endif %}
        {% if item.astr or item.adex or item.asta or item.acha or item.awis or item.aint or item.aagi or item.hp or item.mana %}
            {% if item.astr %}STR:&nbsp;{{ item.astr|positive_negative }}{% endif %}
            {% if item.adex %}DEX:&nbsp;{{ item.adex|positive_negative }}{% endif %}
            {% if item.asta %}STA:&nbsp;{{ item.asta|positive_negative }}{% endif %}
            {% if item.acha %}CHA:&nbsp;{{ item.acha|positive_negative }}{% endif %}
            {% if item.awis %}WIS:&nbsp;{{ item.awis|positive_negative }}{% endif %}
            {% if item.aint %}INT:&nbsp;{{ item.aint|positive_negative }}{% endif %}
            {% if item.aagi %}AGI:&nbsp;{{ item.aagi|positive_negative }}{% endif %}
            {% if item.hp %}HP:&nbsp;{{ item.hp|positive_negative }}{% endif %}
            {% if item.mana %}MANA:&nbsp;+{{ item.mana }}{% endif %}
            <br/>
        {% endif %}
        {% if item.fr or item.dr or item.cr or item.mr or item.pr %}
            {% if item.fr %}SV FIRE:&nbsp;+{{ item.fr }}{% endif %}
            {% if item.dr %}SV DISEASE:&nbsp;+{{ item.dr }}{% endif %}
            {% if item.cr %}SV COLD:&nbsp;+{{ item.cr }}{% endif %}
            {% if item.mr %}SV MAGIC:&nbsp;+{{ item.mr }}{% endif %}
            {% if item.pr %}SV POISON:&nbsp;+{{ item.pr }}{% endif %}
            <br/>
        {% endif %}
        {% if item.rec_level %}Recommended level of {{ item.rec_level }}.<br/>{% endif %}
        {# stackable == 3 means Spell Effect; this field is perhaps poorly named  #}
        {% if item.stackable == 3 %}
            {% if item.click_type == 1 or item.click_type == 3 or item.click_type == 4 or item.click_type == 5 %}
                Effect:&nbsp;<a style="text-decoration:none;color:#00ba00;"
                                href="/spells/view/{{ item.click_effect }}"
                                target="_blank">{{ effect_name }}</a>
                ({% if item.click_type == 1 %}Any Slot,{% endif %}{% if item.click_type == 4 %}
                Must Equip.{% endif %}
                Casting Time:&nbsp;{% if item.cast_time == 0 or item.cast_time == -1 %}Instant
                {% else %}{{ item.cast_time|ms_to_seconds }} sec{% endif %})<br/>
            {% endif %}
            {% if item.worn_type == 2 %}
                Effect:&nbsp;<a style="text-decoration: none; color:#00ba00;"
                                href="https://lucy.alkabor.com/spell_{{ item.worn_effect }}.html"
                                target="_blank">{{ effect_name }}</a>&nbsp;
                {% if item.worn_type == 2 %}(Worn)
                {% endif %}
                <br/>
            {% endif %}
            {% if item.proc_type == 0 and item.proc_effect > 0 %}
                Effect:<a style="text-decoration:none;color:#00ba00;"
                          href="https://lucy.alkabor.com/spell_{{ item.proc_effect }}.html"
                          target="_blank">{{ effect_name }}</a>&nbsp;(Combat, Casting Time:
                {% if item.cast_time == 0 %}
                    Instant{% else %}{{ item.cast_time|ms_to_seconds }} sec{% endif %}) at Level
                {{ item.proc_level }}<br/>
            {% endif %}
        {% endif %}
        WT:&nbsp;{{ item.weight|item_weight }}&nbsp;{% if item.bag_type %}{% if item.bag_wr %}
        Weight Reduction: {{ item.bag_wr }}%<br/>{% endif %}Capacity:&nbsp;
        {{ item.bag_slots }}{% endif %}
        {% if item.bag_type %}&nbsp;Size Capacity:&nbsp;{{ item.bag_size|item_size }}
            <br/>{% else %}&nbsp;Size:&nbsp;{{ item.size|item_size }}<br/>{% endif %}
        {% if item.classes %}Class:&nbsp;{{ item.classes|item_classes }}<br/>{% endif %}
        {% if item.races %}Race:&nbsp;{{ item.races|item_races }}<br/>{% endif %}
        {% if item.deity > 0 %}Deity:&nbsp;{{ item.deity|item_deities }}{% endif %}
    </div>
</div>
<div class="item_bottom_background"></div>