{% extends 'items/base.html' %}
{% load data_utilities %}
{% load item_filters %}
{% load tradeskill_filters %}
{% load static %}
{% load humanize %}
{% block extra_meta %}
    {% if item.Name %}
        <meta content="EQ Archives" property="og:site_name">
        <meta content="article" property="og:type">
        <meta content="{{ item.get_clean_name }}" property="og:title">
        <meta content="{{ og_description }}" property="og:description">
        <meta name="description" content="EQA Item Information for {{ item.get_clean_name }}">
        <meta content="https://{{ request.get_host }}/static/images/items/item_{{ item.icon }}.png" property="og:image">
        <meta property="og:url" content="https://{{ request.get_host }}/items/view/{{ item.id }}">
        <link rel="canonical" href="https://{{ request.get_host }}/items/view/{{ item.id }}">
    {% endif %}
{% endblock %}
{% block title %} {{ item.get_clean_name }} - EQ Archives{% endblock %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <h3>{{ item.Name }}</h3>
            <hr/>
            <div class="col">
                <div class="row py-2">
                    <div class="col">
                        {% include 'items/item_stats_template.html' %}
                        <div>
                            <span style="font-size: 10pt"><img
                                    src="{% static "/images/spell_icons/Spellicon_U.png" %}" style="width:18px;"
                                    alt="Lore Icon">&nbsp;<b>Item Lore</b> <span
                                    style="font-size:8pt">(from Identify)</span>: {{ item.lore }}</span>
                        </div>
                    </div>
                    {% if item.idfile != "IT63" and item.idfile != "0" %}
                        <div class="col-12 col-md-4">
                            <model-viewer
                                    alt="3D model of {{ item.Name }}" class="float-end border bg-body-tertiary"
                                    style="min-height: 200px; max-height: 300px;"
                                    src="{{ obj_path }}"
                                    shadow-intensity="1" camera-controls
                                    camera-orbit="45deg 55deg 4m"
                                    touch-action="pan-y"></model-viewer>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row py-2">
                    <div class="col">
                        {% if drops_from|length > 0 %}
                            <h5>Drops From</h5>
                            <hr/>
                            {% for zone, result_list in drops_from.items %}
                                <div><a style="text-decoration: none;"
                                        href="/zones/view/{{ zone }}">{{ result_list.0.z_long_name }}</a>
                                    <ul>
                                        {% for result in result_list %}
                                            <li><a style="text-decoration: none;"
                                                   href="/npcs/view/{{ result.npc_id }}">{{ result.npc_name|clean_name }}</a>&nbsp;({{ result.modified_drop_chance }}%
                                                x {{ result.lte_multiplier }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-disabled">
                                <h5>Drops From</h5>
                                <hr/>
                                <p>This item is not dropped by mobs.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {% if sold_by|length > 0 %}
                            <h5>Sold By</h5>
                            <hr/>
                            {% for zone, result_list in sold_by.items %}
                                <div><a style="text-decoration: none"
                                        href="/zones/view/{{ zone }}">{{ result_list.0.z_long_name }}</a></div>
                                <ul>
                                    {% for merchant in result_list %}
                                        <li><a style="text-decoration: none"
                                               href="/npcs/view/{{ merchant.npc_id }}">{{ merchant.npc_name|clean_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% else %}
                            <div class="text-disabled">
                                <h5>Sold By</h5>
                                <hr/>
                                <p>This item is not found in any merchant lists.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {% if forage|length > 0 %}
                            <h5>Foraged from:</h5>
                            <hr/>
                            <ul>
                                {% for zone, forage_list in forage.items %}
                                    <li><a style="text-decoration: none;"
                                           href="/zones/view/{{ zone }}">{{ forage_list.0.z_long_name }}</a>&nbsp;({{ forage_list.0.chance }}%)
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="text-disabled">
                                <h5>Foraged from:</h5>
                                <hr/>
                                <p>This item is not foraged anywhere.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {% if ground_spawns|length > 0 %}
                            <h5>Spawns on the ground in:</h5>
                            <hr/>
                            {% for zone, coordinate_list in ground_spawns.items %}
                                <div><a style="text-decoration: none"
                                        href="/zones/view/{{ zone }}">{{ coordinate_list.0.z_long_name }}</a>&nbsp;(y,
                                    x, z)
                                </div>
                                <ul style="list-style: square">
                                    {% for coordinates in coordinate_list %}
                                        <li>
                                            ({{ coordinates.max_y }}, {{ coordinates.max_x }}, {{ coordinates.max_z }})
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% else %}
                            <div class="text-disabled">
                                <h5>Spawns on the Ground:</h5>
                                <hr/>
                                <p>This item does not spawn on the ground.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row py-2">
                    <div class="col">
                        {% if created_by_these_tradeskill_recipes|length > 0 %}
                            <h5>Player crafted from:</h5>
                            <hr/>
                            {% for tradeskill, recipe_list in created_by_these_tradeskill_recipes.items %}
                                <div>{{ tradeskill|tradeskill_filter }}
                                    <ul>
                                        {% for recipe in recipe_list %}
                                            <li>
                                                <b>Recipe</b>:&nbsp;<a style="text-decoration: none"
                                                                       href="/recipes/view/{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</a>&nbsp;<b>Yield</b>:&nbsp;x{{ recipe.success_count }}
                                                &nbsp;(Trivial: {{ recipe.trivial }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-disabled">
                                <h5>Player Crafted from:</h5>
                                <hr/>
                                <p>This item is not crafted by players.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {% if used_in_these_tradeskill_recipes|length > 0 %}
                            <h5>Used in the following tradeskill recipes:</h5>
                            <hr/>
                            {% for tradeskill, recipe_list in used_in_these_tradeskill_recipes.items %}
                                <div>{{ tradeskill|tradeskill_filter }}
                                    <ul>
                                        {% for recipe in recipe_list %}
                                            <li><a style="text-decoration: none"
                                                   href="/recipes/view/{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</a>
                                                (Trivial: {{ recipe.trivial }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-disabled">
                                <h5>Component in the following tradeskill recipes:</h5>
                                <hr/>
                                <p>This item is not a component in any tradeskill recipes.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        {% if related_quests %}
                            <h5>Related Quests</h5>
                            <hr/>
                            <ul>
                                {% for quest in related_quests %}
                                    <li><a href="{% url 'quests:view' quest.id %}">{{ quest }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="text-disabled">
                                <h5>Related Quests</h5>
                                <hr/>
                                <p>Information currently unavailable.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
{% endblock %}
