asgiref==3.8.1
astroid==3.0.2
beautifulsoup4==4.12.3
coverage==7.4.1
crispy-bootstrap5==2024.2
dill==0.3.8
Django==5.1.4
django-bootstrap5==23.4
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-gravatar2==1.4.5
django-jsonform==2.23.2
django-mdeditor==0.1.20
django-redis==5.4.0
django-tables2==2.7.0
django-tagging==0.5.0
fontawesomefree==6.5.1
isort==5.13.2
markdown2==2.4.13
mccabe==0.7.0
mysqlclient==2.2.7
platformdirs==4.2.0
pylint==3.0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-dotenv==1.0.1
redis==5.2.1
soupsieve==2.5
sqlparse==0.4.4
tablib==3.5.0
tomlkit==0.12.3
