asgiref==3.7.2
astroid==3.0.2
coverage==7.4.1
crispy-bootstrap4==2023.1
dill==0.3.8
Django==5.0.6
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-tables2==2.7.0
isort==5.13.2
mccabe==0.7.0
mysqlclient==2.2.4
platformdirs==4.2.0
pylint==3.0.3
python-dotenv==1.0.1
sqlparse==0.4.4
tablib==3.5.0
tomlkit==0.12.3

markdown2~=2.4.13
pip~=24.0
setuptools~=69.0.3