{% extends 'accounts/header.html' %}

<!--Block content goes below-->

{% block content %}

    <div class="container py-5">
    <h2>Character Transfer Tool</h2>
        <p>
            This app will allow you to transfer your characters between EQA accounts that you own. 
            Select the character you wish to transfer and the account to which you'd like to transfer below.
            Game accounts will not populate the list until you have logged into the EQA server at least once.
        </p>
        <form class="form-inline" action="/character_transfer/" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label for="character" class="mr-sm-2">Transfer:</label>
                <select class="custom-select mr-sm-2" aria-label="character" id="character"
                        name="character">
                    <option selected>Select a character</option>
                    {% for char_id, char_name, account_id, account_name in characters %}
                        <option value="{{ char_id }}">{{ char_name }} (Account: {{ account_name }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="account" class="mr-sm-2">To Account:</label>
                <select class="custom-select mr-sm-2" id="account" name="account">
                    <option selected>Select a game account</option>
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
