{% extends "base.html" %}
{% load static %}
{% load data_utilities %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eq-ui.css' %}">
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css" rel="stylesheet">
     <style>
        /* Only the minimal necessary styles */
        .tooltip-container {
            position: relative;
            display: inline-block;
        }

        .tippy-box {
            position: relative;
            pointer-events: none;
            padding: 0;
            border-radius: 4px;
            background: transparent;
        }

        .tippy-box img {
            max-width: 200px;
            height: auto;
            display: block;
            border-radius: 4px;
        }

        .hover-link:hover + .tooltip, .tooltip:hover {
            display: block;
        }

        .tooltip {
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            border: 1px solid #ccc;
            padding: 8px;
            display: none;
            min-width: 200px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 50000;
        }
    </style>
{% endblock %}