{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid content-pop">
                    <div class="row">
                        <div class="col-12">
                            <div class="eq-window-fancy">
                                <div class="row">
                                    <div class="eq-window-nested-tan col">
                                        <div class='WindowNestedTanTitleBar eq-header'>
                                            <h2>Character Faction</h2>
                                        </div>
                                        <div class="WindowNestedTanTitleBar">
                                        </div>
                                        <table id="faction-table" class="eq-table eq-highlight-rows"
                                               style="width: 100%;">
                                            <thead class="eq-table-floating-header">
                                            <tr>
                                                <th scope="col" style="width: auto; min-width: 300px;">Faction Name</th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    <div data-toggle="tooltip" data-placement="right"
                                                         title="Modifiers = Base + Race + Class + Deity">Faction Modifiers
                                                    </div>
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Raw Value
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Consider Value
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Con Level
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for id, name, modifiers, min_cap, max_cap, value in character_faction_values %}
                                                <tr>
                                                    <td>{{ name }}</td>
                                                    <td>{{ modifiers }}</td>
                                                    <td>{{ value }}</td>
                                                    {% with con_value=value|add:modifiers %}
                                                        {% if con_value < min_cap %}
                                                            <td>{{ min_cap }}</td>
                                                        {% elif con_value > max_cap %}
                                                            <td>{{ max_cap }}</td>
                                                        {% else %}
                                                            <td>{{ value|add:modifiers }}</td>
                                                        {% endif %}
                                                    {% endwith %}
                                                    <td>{{ value|add:modifiers|faction_level }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}