{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid content-pop">
                    <div class="row">
                        <div class="col-12">
                            <div class="eq-window-fancy">
                                <div class="row">
                                    <div class="eq-window-nested-tan col">
                                        <div class='WindowNestedTanTitleBar eq-header'>
                                            <h2>Character Faction</h2>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="faction-filter"></label>
                                                <input class="form-control" type="text" id="faction-filter"
                                                       placeholder="Search..."/>
                                            </div>
                                        </div>
                                        <table id="faction-table" class="eq-table eq-highlight-rows"
                                               style="width: 100%;">
                                            <thead class="eq-table-floating-header">
                                            <tr>
                                                <th scope="col" style="width: auto; min-width: 300px;">Faction Name</th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Raw Value
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    <div data-toggle="tooltip" data-placement="right"
                                                         title="Modifiers = Base + Race + Class + Deity">Faction
                                                        Modifiers
                                                    </div>
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Consider Value
                                                </th>
                                                <th scope="col" style="width: auto; min-width: 100px;">
                                                    Con Level
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for id, name, modifiers, min_cap, max_cap, value in character_faction_values %}
                                                <tr>
                                                    <td>
                                                        <a href="/factions/view/{{ id }}"
                                                           target="_blank">{{ name }}</a></td>
                                                    <td>{{ value }}</td>
                                                    <td>{{ modifiers }}</td>
                                                    {% with con_value=value|add:modifiers %}
                                                        {% if con_value < min_cap %}
                                                            <td>{{ min_cap }}</td>
                                                        {% elif con_value > max_cap %}
                                                            <td>{{ max_cap }}</td>
                                                        {% else %}
                                                            <td>{{ value|add:modifiers }}</td>
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% with con_level=value|add:modifiers|faction_level %}
                                                        {% if con_level == "Max Scowls" %}
                                                            <td style="color:#990000">{{ con_level }}</td>
                                                        {% elif con_level == "Scowls" %}
                                                            <td style="color:#FF0000">{{ con_level }}</td>
                                                        {% elif con_level == "Threateningly" %}
                                                            <td style="color:#FFA500">{{ con_level }}</td>
                                                        {% elif con_level == "Dubiously" %}
                                                            <td style="color:#FFFF00">{{ con_level }}</td>
                                                        {% elif con_level == "Apprehensively" %}
                                                            <td>{{ con_level }}</td>
                                                        {% elif con_level == "Indifferently" %}
                                                            <td style="color:#02CCFE">{{ con_level }}</td>
                                                        {% elif con_level == "Amiably" %}
                                                            <td style="color:#0000FF">{{ con_level }}</td>
                                                        {% elif con_level == "Kindly" %}
                                                            <td style="color:#043927">{{ con_level }}</td>
                                                        {% elif con_level == "Warmly" %}
                                                            <td style="color:#00FF00">{{ con_level }}</td>
                                                        {% elif con_level == "Ally" %}
                                                            <td style="color:#00FF00">{{ con_level }}</td>
                                                        {% elif con_level == "Max_Ally" %}
                                                            <td style="color:#00FF00">{{ con_level }}</td>
                                                        {% else %}
                                                            <td>{{ con_level }}</td>
                                                        {% endif %}
                                                    {% endwith %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}