{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid content-pop">
                    <div class="row">
                        <div class="col-12">
                            <div class="eq-window-complex-fancy">
                                <div class="row">
                                    <div class="faction-table" style="width: 100%;">
                                        <div class='WindowNestedTanTitleBar eq-header'>
                                            <h2>Character Faction</h2>
                                        </div>
                                        <table id="faction-table" class="eq-table bordered eq-highlight-rows" style="width: 100%;">
                                            <thead class="eq-table-floating-header">
                                            <tr>
                                                <th scope="col" style="width: auto; min-width: 300px;">Name</th>
                                                <th scope="col" style="width: auto; min-width: 300px;">Base Level</th>
                                                <th scope="col" style="width: auto; min-width: 300px;">Base Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for faction_name, faction_value in character_faction_values %}
                                                <tr>
                                                    <td>{{ faction_name }}</td>
                                                    <td>{{ faction_value|faction_level }}</td>
                                                    <td>{{ faction_value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}