{% extends 'accounts/header.html' %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load data_utilities %}

{% block content %}

    <div class="container py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/accounts/list">Game Accounts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Characters </li>
            </ol>
        </nav>
        <h1>Characters</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Race</th>
                <th scope="col">Level</th>
                <th scope="col">Time Played</th>
                <th scope="col">Last Login</th>
                <th scope="col">Zone</th>
                <th scope="col">X</th>
                <th scope="col">Y</th>
                <th scope="col">Z</th>
            </tr>
            </thead>
            <tbody>
            {% for character in characters %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="/characters/view/{{ character.name }}">{{ character.name }}</a></td>
                    <td>{{ character.class_name|player_class }}</td>
                    <td>{{ character.race|player_race }}</td>
                    <td>{{ character.level }}</td>
                    <td>{{ character.time_played|time_played }}</td>
                    <td>{{ character.last_login|from_timestamp|naturaltime }}</td>
                    <td>{{ character.zone_id|zone_filter:"long" }}</td>
                    <td>{{ character.x }}</td>
                    <td>{{ character.y }}</td>
                    <td>{{ character.z }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
