{% load static %}
{% block content %}
    <table class="table">
        <thead>
        <tr style="background-color:#cedff2; border: 5px solid #FFF;">
            <th scope="col">Spell Name</th>
            <th scope="col">Type</th>
            <th scope="col">Spell Description</th>
            <th scope="col">School</th>
            <th scope="col">Location</th>
            <th scope="col">Expansion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" colspan="7" style="text-align:center; background-color: #000; color: #FFF;">Level 1</th>
        </tr>
        <tr>
            <td>Frost Bolt</td>
            <td>Damage</td>
            <td>Cold Projectile Direct Damage</td>
            <td>Evocation</td>
            <td>Vendor</td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        <tr>
            <td>Minor Shielding</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        <tr>
            <td>Numbing Cold</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        <tr>
            <td>Shock of Frost</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        <tr>
            <td>Sphere of Light</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        <tr>
            <td>True North</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="{% static "characters/images/Original.gif" %}" alt="Original"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}