{% extends 'characters/header.html' %}
{% load humanize %}
{% load data_utilities %}
{% load static %}
{% block content %}
    <div class="container py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/accounts/list">Game Accounts</a></li>
                <li class="breadcrumb-item"><a href="/characters/list/{{ account.name }}">Characters</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ character.name }}</li>
            </ol>
        </nav>
        <ul class="nav nav-tabs" id="charViewTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane"
                        type="button" role="tab" aria-controls="data-tab-pane" aria-selected="true">Character
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="faction-tab" data-bs-toggle="tab" data-bs-target="#faction-tab-pane"
                        type="button" role="tab" aria-controls="faction-tab-pane" aria-selected="false">Faction
                </button>
            </li>
            <li class="nav-item" role="presentation">
                {% if guild is None %}
                    <a class="nav-link disabled" href="#" aria-disabled="true">Guild</a>
                {% else %}
                    <button class="nav-link" id="guild-tab" data-bs-toggle="tab" data-bs-target="#guild-tab-pane"
                            type="button" role="tab" aria-controls="spell-tab-pane" aria-selected="false">Guild
                    </button>
                {% endif %}
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skill-tab-pane"
                        type="button" role="tab" aria-controls="skill-tab-pane" aria-selected="false">Skills
                </button>
            </li>
            {# 0 - Unknown, 1 - Warrior, 7 - Monk, 9 - Rogue  #}
            {% if character.class_name not in non_casters %}
                <li class="nav-item" role="presentation">
                    {# Disable feature until complete #}
                    {% if 0 %}
                        <a class="nav-link disabled" href="#" aria-disabled="true">Spells</a>
                    {% else %}
                        <button class="nav-link" id="spell-tab" data-bs-toggle="tab" data-bs-target="#spell-tab-pane"
                                type="button" role="tab" aria-controls="spell-tab-pane" aria-selected="false">Spells
                        </button>
                    {% endif %}
                </li>
            {% endif %}
            {% if account.expansion >= 3 %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="aa-tab" data-bs-toggle="tab" data-bs-target="#aa-tab-pane"
                            type="button" role="tab" aria-controls="aa-tab-pane" aria-selected="false">Alternate
                        Advancement
                    </button>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="charViewTabContent">
            <div class="tab-pane fade show active" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab"
                 tabindex="0">
                <div class='eq-window-fancy' style="width:100%;">
                    <div class="row">
                        <div class="WindowNestedTan col">
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h1>{{ character.name }}&nbsp;{{ character.last_name }}</h1>
                            </div>
                            <div class="col">
                                {% with "./images/eq-faces/"|add:face_image as face_image_static %}
                                    <img style="background-color:#999;" class="img-fluid img-thumbnail"
                                         alt="Character Portrait" src="{% static face_image_static %}">
                                {% endwith %}
                            </div>
                        </div>
                        <div class='WindowNestedTan col'>
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Details</h2>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Level:</span> {{ character.level }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Race:</span> {{ character.race|player_race }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Class:</span> {{ character.class_name|player_class }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Deity:</span> {{ character.deity|player_deity }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Experience:</span> {{ character.exp|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Flagged PVP:</span> {{ character.pvp_status|yes_no }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Anonymous:</span> {{ character.anon|yes_no }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Title:</span> {{ character.title }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Suffix:</span> {{ character.suffix }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Guild:</span> {{ guild.name }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Guild Rank: </span> {{ guild.rank|guild_rank }}
                            </div>
                        </div>
                        <div class='WindowNestedTan col'>
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Account Info</h2>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Birthdate:</span> {{ birthday }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">First Logon:</span> {{ character.firstlogon }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Last Online:</span> {{ last_login|naturaltime }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Time Played:</span> {{ time_played }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">GM:</span> {{ character.gm|yes_no }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Status:</span> {{ account.status }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='WindowNestedTan col'>
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Stats</h2>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">STR:</span> {{ character.str }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">STA:</span> {{ character.sta }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">DEX:</span> {{ character.dex }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">AGI:</span> {{ character.agi }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">INT:</span> {{ character.int_stat }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">WIS:</span> {{ character.wis }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">CHA:</span> {{ character.cha }}
                            </div>
                        </div>
                        <div class="WindowNestedTan col">
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Vitals</h2>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">HP:</span> {{ character.cur_hp|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Mana:</span> {{ character.mana|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Fatigue:</span> {{ character.fatigue|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Air:</span> {{ character.air_remaining|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Hunger:</span> {{ character.hunger_level|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Thirst:</span> {{ character.thirst_level|intcomma }}
                            </div>
                            <div class="col">
                                <span style="font-weight: bold">Intoxication:</span> {{ character.intoxication|intcomma }}
                            </div>
                        </div>
                        <div class="WindowNestedTan col">
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Location</h2>
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">Zone:</span> {{ character.zone_id|zone_filter:"long" }}
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">X:</span> {{ character.x }}
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">Y:</span> {{ character.y }}
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">Z:</span> {{ character.z }}
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">Heading:</span> {{ character.heading }}
                            </div>
                            <div class="col align-self-center pt-3">
                                <span style="font-weight: bold">BoatID:</span> {{ character.boatid }}
                            </div>
                            <div class="col align-self-center">
                                <span style="font-weight: bold">Boat Name:</span> {{ character.boatname }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="WindowNestedTan col">
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Currency</h2>
                            </div>
                            <table class="eq-table eq-highlight-rows">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th>Body</th>
                                    <th>Cursor</th>
                                    <th>Bank</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Platinum</th>
                                    <td>{{ character_currency.platinum|intcomma }}</td>
                                    <td>{{ character_currency.platinum_cursor|intcomma }}</td>
                                    <td>{{ character_currency.platinum_bank|intcomma }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gold</th>
                                    <td>{{ character_currency.gold|intcomma }}</td>
                                    <td>{{ character_currency.gold_cursor|intcomma }}</td>
                                    <td>{{ character_currency.gold_bank|intcomma }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Silver</th>
                                    <td>{{ character_currency.silver|intcomma }}</td>
                                    <td>{{ character_currency.silver_cursor|intcomma }}</td>
                                    <td>{{ character_currency.silver_bank|intcomma }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Copper</th>
                                    <td>{{ currency.copper|intcomma }}</td>
                                    <td>{{ currency.copper_cursor|intcomma }}</td>
                                    <td>{{ currency.copper_bank|intcomma }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col align-self-start">
                                <span style="font-weight: bold">Auto-split Enabled:</span> {{ character.autosplit_enabled|yes_no }}
                            </div>
                        </div>
                        <div class="WindowNestedTan col">
                            <div class='WindowNestedTanTitleBar eq-header'>
                                <h2>Keyring</h2>
                            </div>
                            {% if character_keyring %}
                                <table class="eq-table eq-highlight-rows">
                                    <thead>
                                    <tr>
                                        <th>Key (Item Id)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item_id, key in character_keyring %}
                                        <tr>
                                            <td>{{ key }} ({{ item_id }})</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div style="text-align: center;">You have no keys.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if account.expansion >= 3 %}
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Appearance</div>
                                <div class="card-body">
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Gender:</span> {{ character.gender|gender }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Hair Style:</span> {{ character.hair_style }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Hair Color:</span> {{ character.hair_color }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Show Helm:</span> {{ character.showhelm|yes_no }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Face:</span> {{ character.face }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Left Eye:</span> {{ character.eye_color_1 }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Right Eye:</span> {{ character.eye_color_2 }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Beard:</span> {{ character.beard }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Beard Color:</span> {{ character.beard_color }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="faction-tab-pane" role="tabpanel" aria-labelledby="faction-tab" tabindex="1">
                {% include "characters/factions.html" %}
            </div>
            {% if guild is not None %}
                <div class="tab-pane fade" id="guild-tab-pane" role="tabpanel" aria-labelledby="guild-tab"
                     tabindex="2">
                    {% include 'characters/guild.html' %}
                </div>
            {% endif %}
            <div class="tab-pane fade" id="skill-tab-pane" role="tabpanel" aria-labelledby="skill-tab"
                 tabindex="3">
                {% include "characters/skills.html" %}
            </div>
            <div class="tab-pane fade" id="spell-tab-pane" role="tabpanel" aria-labelledby="spell-tab"
                 tabindex="4">
                {% if character.class_name != 0 or 1 or 7 or 9 %}
                    {% include "characters/spells.html" %}
                {% endif %}
            </div>
            {% if account.expansion >= 3 %}
                <div class="tab-pane fade" id="aa-tab-pane" role="tabpanel" aria-labelledby="aa-tab"
                     tabindex="5">
                    <div class="row mt-4">
                        <div class='WindowSuperFancy' style="width:100%;">
                            <div class="row">
                                <div class="WindowNestedTan col">
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">AA Experience:</span> {{ character.aa_exp|intcomma }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">AA Points:</span> {{ character.aa_points|intcomma }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">AA Points Spent:</span> {{ character.aa_points_spent|intcomma }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">AA Effects:</span> {{ character.e_aa_effects|intcomma }}
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Percent to AA:</span> {{ character.e_percent_to_aa }}%
                                    </div>
                                    <div class="col align-self-end">
                                        <span style="font-weight: bold">Expended AA Spent:</span> {{ character.e_expended_aa_spent }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
