{% extends 'base.html' %}
{% load static %}
{% load data_utilities %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'factions/eq-ui.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css"
          integrity="sha384-h6qfeNTBugo8Dfk0WUwqC76yhATSOEn13mkiFpyspIcuRXQiXfT3zUEyYSG6TZEO" crossorigin="anonymous">
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.js"
            integrity="sha384-lsAynlqeJD9p7xzWxwNM3+RFvkLoDLaludTFTPvrpU33WAYEBcrhJ+8QjvIT1Ie6"
            crossorigin="anonymous"></script>
{% endblock %}
{% block inline_js %}
    <script>
        $(document).ready(function () {
            $("#search-results-table").DataTable({
                order: [[3, 'desc']],
                pageLength: 50
            });
        });
    </script>
{% endblock %}
