{% extends 'factions/base.html' %}
{% load data_utilities %}
{% load static %}
{% load humanize %}
{% block title %}
    {% if faction_info.1 %}
        {{ faction_info.1|clean_name }} - EQ Archives
    {% else %}
        View Faction - EQ Archives
    {% endif %}
{% endblock %}
{% block content %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">Faction Documentation</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h6>Character Base Value</h6>
            <p>Your character's faction standing with any NPC in-game is influenced by several factors beyond their base
                faction value that you control by killing mobs or completing quests. If you are logged in while viewing
                this page, you'll see this value listed for each of your characters as the "Base Value" shown in the
                second column of the "My Characters Faction Levels" table.</p>
            <h6>Base Modifiers</h6>
            <p>To begin, an NPC's relationship with a player is based on their <i>primary faction</i>. Every faction has
                a <i>base modifier</i> that increases or decreases from zero (Indifferent) how they consider you by
                default.</p>
            <p>You can find this value in the Faction Info Table to the left.
                For example, <i>{{ faction_info.1 }}</i> has a base modifier of <i>{{ faction_info.2 }}</i>.</p>
            <h6>Character Modifiers</h6>
            <p>Next, each character's race, class, and deity will have a positive or negative affect on their
                initial standing with that NPC.</p>
            <ul>
                <li>Race</li>
                <li>Class</li>
                <li>Deity</li>
            </ul>
            <p>For example, many factions have a negative racial modifier against Iksar. They might also dislike
                Necromancers. Further, they dislike anyone worshipping Cazic Thule.</p>
            <p>If you are logged in while viewing this page, the <i>Modifiers</i> value shown for each of your
                characters includes
                race, class, deity, and that faction's base modifier all added together into one value.</p>
            <h6>Other Modifiers</h6>
            <p>Once all of these things are taken into account, faction can also be affected by magic items worn and
                spells cast on either
                the NPC or the player.</p>
            <ul>
                <li>Item Faction Bonuses</li>
                <li>Spells</li>
            </ul>
            Some spells, like <a href="/spells/view/298">Alliance</a> will temporarily increase how a target NPC might
            consider you. The server caps faction bonuses from Alliance type spells at 300.
            <div class="alert alert-warning">If you are logged in while viewing this faction page, it will <i>not</i>
                show your
                characters' faction modifiers from spells and items.
            </div>
            <h6>Faction Formula</h6>
            <p>Thus,<br/>
                <math>faction = base_value + spell_effects + item_effects + base_modifier + class_modifier +
                    race_modifier + deity_modifier.
                </math>
            </p>

        </div>
    </div>
    <div class="container py-5">
        <div class="eq-window row align-items-md-stretch">
            <div class="col-12">
                <h2 class="eq-header text-center">{{ faction_info.1 }}</h2>
                <div class="start-50 translate-middle-x eq-window-nested-tan col-12 col-md-6">
                    <span class="text-center">Faction Info for {{ faction_info.1 }}</span>
                    <a style="color: #8aa3ff;" data-bs-toggle="offcanvas" href="#offcanvas" role="link"
                       aria-controls="offcanvas">
                        <span class="fa fa-question-circle"></span>
                    </a>
                    {% if request.user.is_authenticated %}
                        <div style="float: right;">
                            <button class="eq-button-fancy fs-6" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#character_faction_list" aria-expanded="false"
                                    aria-controls="character_faction_list">Toggle My Characters' Faction
                            </button>
                        </div>
                    {% endif %}
                    <table class="eq-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Base Modifier</th>
                            <th>See Illusion</th>
                            <th>Min Cap</th>
                            <th>Max Cap</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ faction_info.0 }}</td>
                            <td>{{ faction_info.2 }}</td>
                            <td>{{ faction_info.3 | yesno }}</td>
                            <td>{{ faction_info.4 }}</td>
                            <td>{{ faction_info.5 }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <details>
                        <summary>View Faction Ranges</summary>
                        <table class="eq-table eq-highlight-rows">
                            <tbody>
                            <tr>
                                <td style="text-align: right;">1100 to 2000</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Ally</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">750 to 1099</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Warmly</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">500 to 749</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Kindly</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">100 to 499</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Amiably</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">0 to 99</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Indifferently</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">-100 to -1</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Apprehensively</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">-500 to -101</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Dubiously</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">-750 to -501</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Threateningly</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">-751 to -2000</td>
                                <td>&nbsp;</td>
                                <td style="text-align: left;">Ready to attack</td>
                            </tr>
                            </tbody>
                        </table>
                    </details>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-12">
                    <div class="collapse" id="character_faction_list">
                        <div class="start-50 translate-middle-x eq-window-nested-tan col-12 col-md-6">
                            <h6 class="">My Characters' Faction Levels</h6>
                            <table class="eq-table eq-highlight-rows">
                                <thead>
                                <tr>
                                    <th>Character</th>
                                    <th>Base Value + Modifiers</th>
                                    <th>Final Value</th>
                                    <th>Consider Level</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for character in character_faction_list %}
                                    <tr>
                                        <td>{{ character.0 }}</td>
                                        <td>{{ character.1.current_value }} + {{ character.1.modified_base }}</td>
                                        <td>{{ character.1.current_value|add:character.1.modified_base }}</td>
                                        <td>{{ character.1.current_value|add:character.1.modified_base|faction_level }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">No results</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-12 col-md-6 p-3 mb-4">
                <div class="p-3 mb-4">
                    <h6 class="eq-header text-center">Slaying these raises faction:</h6>
                    {% for long_name, data in raise_faction.items %}
                        <article class="eq-window-nested-blue p-3 mb-4">
                            <h6 class="text-center">{{ long_name }}</h6>
                            <section class="column-list">
                                <dl>
                                    {% for id, name, long_name, short_name, value in data %}
                                        <dd>
                                            <a style="color:#00ba00;text-decoration:none;" href="/npcs/view/{{ id }}"
                                               class="link">{{ name|clean_name }}</a><span> (+{{ value }})</span>
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </section>
                        </article>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-md-6 p-3 mb-4">
                <div class="p-3 mb-4">
                    <h6 class="eq-header text-center">Slaying these lowers faction:</h6>
                    {% for long_name, data in lower_faction.items %}
                        <article class="eq-window-nested-blue p-3 mb-4">
                            <h6 class="text-center">{{ long_name }}</h6>
                            <section class="column-list">
                                <dl>
                                    {% for id, name, long_name, short_name, value in data %}
                                        <dd><a style="color:#d71c1c;text-decoration:none;" href="/npcs/view/{{ id }}"
                                               class="link">{{ name|clean_name }}</a><span> ({{ value }})</span>
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </section>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
