{% extends 'accounts/header.html' %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="container py-5">
        <p>
            Welcome! This app will allow you to manage your login server (aka <i>game</i>) accounts.
        </p>
        <p>
            To get started, select the "Accounts" link at the top to create an account, or follow the client setup
            instructions below.
        </p>
        <h3>Client Setup</h3>
        <h4>Installing the Client</h4>
        <p>Go to <a href="https://wiki.takp.info/index.php/Getting_Started" target="top">https://wiki.takp.info/index.php/Getting_Started</a>
            for client install instructions.
        </p>
        <h4>Configure eqhosts.txt</h4>
        <p>Edit your client eqhosts.txt file to the following:
        <pre>
            [Registration Servers]
            {
            "loginserver.eqarchives.com:6999"
            }
            [Login Servers]
            {
            "loginserver.eqarchives.com:6000"
            }
            </pre>
        </p>
        <h4>Create your Login Accounts</h4>
        <p>Go to <a href="/accounts/list">Accounts</a> or select it from the navbar on the top of this page.</p>
        <p>Once you have installed your client, configured eqhosts.txt, and created a login account, you're all set to play the game.</p>
        <p>-Nazwadi</p>
        <script data-name="BMC-Widget" data-cfasync="false"
                src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="Nazwadi"
                data-description="Support me on Buy me a coffee!"
                data-message="If you'd like to donate to support infrastructure costs, this is how."
                data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </div>

{% endblock %}
