{% extends 'items/header.html' %}
{% load data_utilities %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Global Inventory Search for {{ request.user.username }}</h1>
                <form class="p-3 mb-4 bg-body-tertiary border" action="/accounts/inventory_search" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="form-text text-wrap"><label for="item_name">Item Name</label></div>
                            <input type="text" class="form-control" id="item_name" name="item_name"
                                   placeholder="a tattered note">
                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <div class="col-12 col-md-2">#}
{#                            <div class="form-text text-wrap"><label for="player_class">Class</label></div>#}
{#                            <select class="form-select" id="player_class" name="player_class" aria-label="player_class">#}
{#                                <option value="0" selected>Any</option>#}
{#                                {% for class in PLAYER_CLASSES %}#}
{#                                    {% if class != 0 %}#}
{#                                        <option value="{{ class }}">{{ class|player_class }}</option>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-2">#}
{#                            <div class="form-text text-wrap"><label for="player_race">Race</label></div>#}
{#                            <select class="form-select" id="player_race" name="player_race" aria-label="player_race">#}
{#                                <option value="0" selected>Any</option>#}
{#                                {% for race in PLAYER_RACES %}#}
{#                                    {% if race != 0 %}#}
{#                                        <option value="{{ race }}">{{ race|player_race }}</option>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-2">#}
{#                            <div class="form-text text-wrap"><label for="item_slot">Equip Slot</label></div>#}
{#                            <select class="form-select" id="item_slot" name="item_slot" aria-label="item_slot">#}
{#                                <option value="0" selected>Any</option>#}
{#                                {% for slot, slot_name in EQUIPMENT_SLOTS.items %}#}
{#                                    {% if slot != 0 %}#}
{#                                        <option value="{{ slot }}">{{ slot_name }}</option>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-2">#}
{#                            <div class="form-text text-wrap"><label for="item_type">Item Type</label></div>#}
{#                            <select class="form-select" id="item_type" name="item_type" aria-label="item_type">#}
{#                                <option value="-1" selected>Any</option>#}
{#                                {% for type, type_name in ITEM_TYPES.items %}#}
{#                                    <option value="{{ type }}">{{ type_name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-3">#}
{#                            <div class="d-flex">#}
{#                                <div class="col">#}
{#                                    <div class="form-text text-wrap"><label for="resists_type">Resist Type</label></div>#}
{#                                    <select class="form-select" id="resists_type" name="resists_type"#}
{#                                            style="width: 14ch">#}
{#                                        <option value="Resist">Resist</option>#}
{#                                        <option value="mr">Resist Magic</option>#}
{#                                        <option value="fr">Resist Fire</option>#}
{#                                        <option value="cr">Resist Cold</option>#}
{#                                        <option value="pr">Resist Poison</option>#}
{#                                        <option value="dr">Resist Disease</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="form-text text-wrap"><label for="resists_operator">Operator</label></div>#}
{#                                    <select class="form-select" id="resists_operator" name="resists_operator" style="width: 10ch">#}
{#                                        <option value=">">&gt;</option>#}
{#                                        <option value=">=">&gt;=</option>#}
{#                                        <option value="=">=</option>#}
{#                                        <option value="<=">&lt;=</option>#}
{#                                        <option value="<">&lt;</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="form-text text-wrap"><label for="resists_value">Resist Value</label></div>#}
{#                                    <input class="form-control" id="resists_value" name="resists_value" style="width: 10ch"#}
{#                                           type="number" min="0" value="0">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-12 col-md-12">
                        <div class="d-grid gap-2 py-4">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if search_results %}
            <div class="row py-5">
                <div class="col">
                    <h1 class="text-center">Search Results</h1>
                    <table id="search-results-table" class="display table table-striped">
                        <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Charges</th>
                            <th>Character</th>
                            <th>Slot / Slot ID</th>
                        </tr>
                        </thead>
                        {% for result in search_results %}
                            <tr>
                                <td>{{ result.5 }}</td>
                                <td>
                                    <img src="{% static "/images/items/" %}item_{{ result.2 }}.png"
                                         alt="item_{{ result.2 }}.png">
                                    <a href="/items/view/{{ result.5 }}">{{ result.4 }}</a>
                                </td>
                                <td>{{ result.6 }}</td>
                                <td><a href="/characters/view/{{ result.0 }}">{{ result.0 }}</a></td>
                                <td>{{ result.3|inventory_slot }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
