{% extends 'npcs/header.html' %}
{% load data_utilities %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">NPC Search</h1>
                <form class="p-3 mb-4 bg-body-tertiary border" action="/npcs/search" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-text text-wrap"><label for="npc_name">NPC Name</label></div>
                            <input type="text" class="form-control" id="npc_name" name="npc_name"
                                   placeholder="a decaying skeleton">
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-text text-wrap"><label for="select_expansion">Expansion</label></div>
                            <select class="form-select" id="select_expansion" name="select_expansion">
                                <option value="-1">any</option>
                                {% for expansion in expansions %}
                                    <option value="{{ expansion.id }}">{{ expansion.exp }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="form-text text-wrap"><label for="query_limit">Query Limit (Max: 200)</label>
                            </div>
                            <input class="form-control" id="query_limit" name="query_limit" type="number" min="0"
                                   max="200" value="50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="form-text text-wrap"><label for="select_npc_body_type">Body Type</label></div>
                            <select class="form-select" id="select_npc_body_type" name="select_npc_body_type">
                                <option value="-1">any</option>
                                {% for body_type in npc_body_types %}
                                    <option value="{{ body_type.id }}">{{ body_type.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-text text-wrap"><label for="select_npc_race">Race</label></div>
                            <select class="form-select" id="select_npc_race" name="select_npc_race">
                                <option value="-1">any</option>
                                {% for race in npc_races %}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-text text-wrap"><label for="select_npc_class">Class</label></div>
                            <select class="form-select" id="select_npc_class" name="select_npc_class">
                                <option value="-1">any</option>
                                {% for class in npc_classes %}
                                    <option value="{{ class.id }}">{{ class.class }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="form-text text-wrap"><label for="min_level">Min Level</label></div>
                            <input class="form-control" id="min_level" name="min_level" type="number" value="0">
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="form-text text-wrap"><label for="max_level">Max Level</label></div>
                            <input class="form-control" id="max_level" name="max_level" type="number" value="99">
                        </div>
                        {% if zones %}
                            <div class="form-group col-md-4">
                                <label for="zone">Zone</label>
                                <select id="zone" class="form-control">
                                    <option selected>any</option>
                                    {% for zone in zones %}
                                        <option value="{{ zone.short_name }}">{{ zone.long_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="form-check text-wrap"></div>
                            <input class="form-check-input" type="checkbox" value="" id="exclude_merchants"
                                   name="exclude_merchants">
                            <label for="exclude_merchants">Exclude Merchants</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="d-grid gap-2 py-4">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if search_results %}
            <div class="row py-5">
                <div class="col">
                    <h1 class="text-center">Search Results</h1>
                    <table id="search-results-table" class="display table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Expansion</th>
                            <th>Zone</th>
                            <th>Level(s)</th>
                            <th>Race</th>
                            <th>Class</th>
                            <th>Gender</th>
                            <th>Hit Points</th>
                            <th>MR</th>
                            <th>CR</th>
                            <th>FR</th>
                            <th>DR</th>
                            <th>PR</th>
                        </tr>
                        </thead>
                        {% for result in search_results %}
                            <tr>
                                <td><a href="/npcs/view/{{ result.id }}">{{ result.name|clean_name }}</a></td>
                                <td><img src="{% static "/images/" %}{{ result.min_expansion|expansion_icon }}"
                                         alt="{{ result.min_expansion|expansion_icon }}"></td>
                                <td><a href="/zones/view/{{ result.short_name }}">{{ result.long_name }}</a></td>
                                {% if result.maxlevel %}
                                    <td>{{ result.level }} - {{ result.maxlevel }}</td>
                                {% else %}
                                    <td>{{ result.level }}</td>
                                {% endif %}
                                <td>{{ result.race|npc_race }}</td>
                                <td>{{ result.class_name|npc_class }}</td>
                                <td>{{ result.gender|gender }}</td>
                                <td>{{ result.hp|intcomma }}</td>
                                <td>{{ result.MR }}</td>
                                <td>{{ result.CR }}</td>
                                <td>{{ result.FR }}</td>
                                <td>{{ result.DR }}</td>
                                <td>{{ result.PR }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
