{% extends 'npcs/header.html' %}
{% load data_utilities %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">NPC Search</h1>
                <form class="p-3 mb-4 bg-body-tertiary border" action="/npcs/search" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-text text-wrap"><label for="npc_name">NPC Name</label></div>
                            <input type="text" class="form-control" id="npc_name" name="npc_name"
                                   placeholder="a decaying skeleton">
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="form-text text-wrap"><label for="min_level">Min Level</label></div>
                            <input class="form-control" id="min_level" name="min_level" type="number" value="0">
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="form-text text-wrap"><label for="max_level">Max Level</label></div>
                            <input class="form-control" id="max_level" name="max_level" type="number" value="99">
                        </div>
                        {% if zones %}
                            <div class="form-group col-md-4">
                                <label for="zone">Zone</label>
                                <select id="zone" class="form-control">
                                    <option selected>any</option>
                                    {% for zone in zones %}
                                        <option value="{{ zone.short_name }}">{{ zone.long_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="d-grid gap-2 py-4">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if search_results %}
            <div class="row py-5">
                <div class="col">
                    <h1 class="text-center">Search Results</h1>
                    <table id="search-results-table" class="display table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Level(s)</th>
                            <th>Race</th>
                            <th>Class</th>
                            <th>Gender</th>
                            <th>Hit Points</th>
                            <th>MR</th>
                        </tr>
                        </thead>
                        {% for result in search_results %}
                            <tr>
                                <td><a href="/npcs/view/{{ result.id }}">{{ result.name|clean_name }}</a></td>
                                {% if result.max_level %}
                                    <td>{{ result.level }} - {{ result.max_level }}</td>
                                {% else %}
                                    <td>{{ result.level }}</td>
                                {% endif %}
                                <td>{{ result.race|npc_race }}</td>
                                <td>{{ result.class_name|npc_class }}</td>
                                <td>{{ result.gender|gender }}</td>
                                <td>{{ result.hp|intcomma }}</td>
                                <td>{{ result.MR }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
