{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/accounts">EQMacEmu Players</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/list">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/character_transfer">Character Transfer</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="https://eqarchives.com" target="_blank">EQA Wiki</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuResources" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    EQ Resources
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info"
                     aria-labelledby="navbarDropdownMenuResources">
                    <a class="dropdown-item" href="https://www.eqemulator.org" target="_blank">EQEmulator</a>
                    <a class="dropdown-item" href="https://www.eqtraders.com" target="_blank">EQTraders</a>
                    <a class="dropdown-item" href="https://everquest.allakhazam.com" target="_blank">Allakhazam</a>
                    <a class="dropdown-item" href="https://www.steveprutz.com/eq/" target="_blank">EverQuest Map Preserve</a>
                    <a class="dropdown-item" href="https://wiki.project1999.com" target="_blank">P99 Wiki</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zones">Zones</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info"
                         aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="/accounts/logout">Log Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/server_list">Server List</a>
            </li>
        </ul>
    </div>
</nav>
