{% load gravatar %} {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <div class="container-fluid">
        <!-- Logo -->
        <div id="logo" class="d-flex">
            <span class="w-100 d-lg-none d-block"></span>
            <a class="navbar-brand d-none d-lg-inline-block ps-4 pe-3" href="/">
                <img
                        src="{% static 'images/eqalogo.svg' %}"
                        alt="EQ Archives"
                        height="80"
                        width="427"
                        class="img-fluid"
                />
            </a>
            <div class="w-100 text-end">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarText"
                        aria-controls="navbarText"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <!-- Nav links -->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <!-- Database mega-dropdown -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="databaseMenuLink"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Database
                    </a>
                    <div
                            class="dropdown-menu mega-menu p-3"
                            aria-labelledby="databaseMenuLink"
                    >
                        <div class="mega-menu-grid">
                            <ul class="mega-menu-col" role="list">
                                <li
                                        class="mega-menu-heading"
                                        aria-hidden="true"
                                >
                                    Items &amp; Equipment
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'items:search' %}"
                                    >Item Search</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'items:discovered' %}"
                                    >Recently Discovered</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'items:bis' class_id=0 %}"
                                    >Best in Slot</a
                                    >
                                </li>
                            </ul>

                            <ul class="mega-menu-col" role="list">
                                <li
                                        class="mega-menu-heading"
                                        aria-hidden="true"
                                >
                                    Spells
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'spells:search' %}"
                                    >Spell Search</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'spells:index' %}"
                                    >Spells by Class</a
                                    >
                                </li>
                            </ul>

                            <ul class="mega-menu-col" role="list">
                                <li
                                        class="mega-menu-heading"
                                        aria-hidden="true"
                                >
                                    World
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'npcs:search' %}"
                                    >NPC Search</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'zones:index' %}"
                                    >Zones</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'factions:search' %}"
                                    >Factions</a
                                    >
                                </li>
                            </ul>

                            <ul class="mega-menu-col" role="list">
                                <li
                                        class="mega-menu-heading"
                                        aria-hidden="true"
                                >
                                    Crafting &amp; Pets
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'recipes:search' %}"
                                    >Recipes</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'pets:list' %}"
                                    >Pets</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Tools mega-dropdown -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="toolsMenuLink"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Tools
                    </a>
                    <div
                            class="dropdown-menu mega-menu p-3"
                            aria-labelledby="toolsMenuLink"
                    >
                        <div class="mega-menu-grid">
                            <ul class="mega-menu-col" role="list">
                                <li
                                        class="mega-menu-heading"
                                        aria-hidden="true"
                                >
                                    Characters
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'magelo:search' %}"
                                    >Magelo Profiles</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'characters:exp' %}"
                                    >Experience Calculator</a
                                    >
                                </li>
                            </ul>

                            {% if user.is_authenticated %}
                                <ul class="mega-menu-col" role="list">
                                    <li
                                            class="mega-menu-heading"
                                            aria-hidden="true"
                                    >
                                        Account
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="{% url 'accounts:inventory_search' %}"
                                        >Inventory Search</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="{% url 'character_transfer:index' %}"
                                        >Character Transfer</a
                                        >
                                    </li>
                                </ul>
                            {% endif %}
                            <ul class="mega-menu-col" role="list">
                                <li class="mega-menu-heading" aria-hidden="true">Raid DKP</li>
                                {% if user.is_authenticated and dkp_membership %}
                                    <li><a class="dropdown-item" href="{% url 'dkp:dashboard' %}">My Dashboard</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'dkp:circuit_list' %}">DKP Standings</a>
                                    </li>
                                {% endif %}
                                {% if dkp_circuits %}
                                    {% with circuit=dkp_circuits.0 %}
                                        <li><a class="dropdown-item" href="{% url 'dkp:standings' circuit.id %}">Standings</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'dkp:auction_list' circuit.id %}">Auctions</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'dkp:raid_list' circuit.id %}">Raid
                                            History</a></li>
                                    {% endwith %}
                                {% endif %}
                            </ul>

                            <ul class="mega-menu-col" role="list">
                                <li class="mega-menu-heading" aria-hidden="true">Raid Schedule</li>
                                <li><a class="dropdown-item" href="{% url 'raid_scheduler:board' %}">Public Board</a></li>
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'raid_scheduler:schedule' %}">Schedule a Raid</a></li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </li>

                <!-- Standalone links -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'patch:index' %}"
                    >Patch Notes</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="https://wiki.eqarchives.com"
                            target="_blank"
                            rel="noopener noreferrer"
                    >
                        Wiki
                        <i
                                class="fas fa-external-link-alt ms-1"
                                style="font-size: 11px"
                                aria-hidden="true"
                        ></i>
                        <span class="visually-hidden">(opens in new tab)</span>
                    </a>
                </li>

                {% if user_is_staff %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-1" href="{% url 'petitions:staff_list' %}">
                        <i class="fas fa-inbox"></i>
                        Queue
                        {% if open_petition_count %}
                        <span class="badge bg-danger rounded-pill" style="font-size:11px;">{{ open_petition_count }}</span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Search + user -->
        <div class="d-flex px-3 text-end">
            <button
                    class="btn btn-outline-secondary fas fa-search me-2"
                    type="button"
                    aria-label="Open search"
            ></button>
            <div class="dropdown">
                {% if user.is_authenticated %}
                    <button
                            class="btn btn-secondary dropdown-toggle d-flex align-items-center"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            id="userMenuLink"
                    >
                        <img
                                class="img-fluid img-responsive rounded-circle me-2"
                                src="{% gravatar_url user.email 150 %}"
                                width="38"
                                height="38"
                                alt="{{ user.username }}'s profile picture"
                        />
                        <span class="d-none d-sm-inline">{{ user.username }}</span>
                    </button>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="userMenuLink"
                    >
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="{% url 'accounts:list_accounts' %}"
                            >Accounts</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="{% url 'character_transfer:index' %}"
                            >Character Transfer</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="{% url 'accounts:inventory_search' %}"
                            >Inventory Search</a
                            >
                        </li>
                        <li>
                            <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-between"
                               href="{% url 'petitions:list' %}">
                                My Petitions
                                {% if unread_notification_count %}
                                <span class="badge bg-danger rounded-pill ms-2">{{ unread_notification_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="{% url 'accounts:logout' %}"
                            >Log Out</a
                            >
                        </li>
                    </ul>
                {% else %}
                    <a
                            class="btn btn-secondary"
                            href="{% url 'accounts:login' %}"
                            role="button"
                    >Login</a
                    >
                {% endif %}
            </div>
        </div>
    </div>
</nav>
