<nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <div id="logo" class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block px-5 py-3" href="/accounts">&nbsp;</a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1" id="navbarText">
        <ul class="navbar-nav me-auto flex-wrap col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/factions/search">Factions</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarItemsMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Items
                </a>
                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarItemsMenuLink">
                    <li><a class="dropdown-item" href="/items/search">Items Search</a></li>
                    <li><a class="dropdown-item" href="/items/discovered">Discovered Items</a></li>
                    <li><a class="dropdown-item" href="/items/bis">Best in Slot</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/npcs/search">Npcs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pets/list">Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes/search">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/server_list">Server List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/spells/">Spells</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zones">Zones</a>
            </li>
        </ul>
        <div class="d-flex px-5 text-right">
            <div class="dropdown">
                {% if user.is_authenticated %}
                    <button class="btn btn-secondary dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="navbarDropdownMenuLink">
                        <i class="fas fa-user"></i> {{ user.username }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/accounts/list">Accounts</a></li>
                        <li><a class="dropdown-item" href="/character_transfer">Character Transfer</a></li>
                        <li><a class="dropdown-item" href="/accounts/inventory_search">Inventory Search</a></li>
                        <li><a class="dropdown-item" href="/accounts/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <a class="btn btn-secondary" href="/accounts/login" role="button"
                       id="navbarDropdownMenuLink">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
