{% extends 'spells/header.html' %}
{% load data_utilities %}
{% block content %}
    <main class="flex-shrink-0">
        <div class="container py-4">


            <div class="row eq-window-fancy">
                <div class="p-3 mb-4 col-12 eq-header"><h1 class="text-center">Spells By Class</h1></div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/8.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Bard</h6></li>
                                    {# <li class="nav-item"><a class="nav-link" href="/spells/list/8"><svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em"><use href="/static/bootstrap-images/icons.svg#card-spells/list"></use></svg><span>Quick List</span></a></li> #}
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/8">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/3.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Paladin</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/3">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/4.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Ranger</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/4">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/5.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Shadow Knight</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/5">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
                
                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/15.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Beastlord</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/15">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/2.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Cleric</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/list/2">
                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#card-list"></use>
                                        </svg>
                                        <span>Quick List</span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/2">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/6.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Druid</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/list/6">
                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#card-list"></use>
                                        </svg>
                                        <span>Quick List</span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/6">
                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/10.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Shaman</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/10">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>


                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/14.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Enchanter</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/14">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
                
                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/13.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Magician</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/13">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
                
                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/11.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Necromancer</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/11">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-3">
                    <article class="p-3 mb-4 eq-window-nested-blue">
                        <div class="row">
                            <div class="col-3"><img class="small" style="width:64px;height:128px;"
                                                    src="/static/images/class_icons/12.gif"></div>
                            <div class="col-9">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><h6 class="text-center">Wizard</h6></li>
                                    <li class="nav-item"><a class="nav-link" href="/spells/buy/12">

                                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em"
                                             height="1em">
                                            <use href="/static/bootstrap-images/icons.svg#shop"></use>
                                        </svg>

                                        <span>Purchase List</span>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
