{% extends 'spells/header.html' %}
{% load data_utilities %}
{% load spell_page_tags %}
{% block content %}
    {% if scrolls|length == 0 %}
        <div class="mt-3 border text-center alert alert-dark"><img src="/static/images/flag_topbox.png">&nbsp;This
            spell ID is not a player obtainable spell!
        </div>
    {% endif %}
    <div class="container eq-window-complex-fancy">
        {% if spell_data == None %}
            <h3 class="mt-3 text-center">That spell does not exist!</h3>
            <p class="text-center">Please try searching for another spell.</p>
        {% else %}
            <div class="row">
                <div class="col-sm">
                    <div class="eq-window-simple">
                        <h3 class="eq-header">EQA Spell Data</h3>
                        By Class:
                        <ul>
                            <li><a href="/spells/list/8">Bard</a></li>
                            <li><a href="/spells/list/15">Beastlord</a></li>
                            <li><a href="/spells/list/2">Cleric</a></li>
                            <li><a href="/spells/list/6">Druid</a></li>
                            <li><a href="/spells/list/14">Enchanter</a></li>
                            <li><a href="/spells/list/13">Magician</a></li>
                            <li><a href="/spells/list/11">Necromancer</a></li>
                            <li><a href="/spells/list/3">Paladin</a></li>
                            <li><a href="/spells/list/4">Ranger</a></li>
                            <li><a href="/spells/list/5">Shadowknight</a></li>
                            <li><a href="/spells/list/10">Shaman</a></li>
                            <li><a href="/spells/list/12">Wizard</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="eq-window-simple">
                        <h3 class="eq-header"><img src="/static/images/icons/{{ spell_data.custom_icon }}.gif"
                                                   alt="{{ spell_data.custom_icon }}.gif">&nbsp;{{ spell_data.name }}
                        </h3>
                        <span style="font-weight: bold; color: #8aa3ff;">Spell ID:</span>&nbsp;{{ spell_data.id }} <br/>
                        <hr/>
                        <h6 class="eq-header">Effects</h6>
                        <div class="col">
                            {#                            <p class="eq-window-nested-blue">Information not currently available (work in progress). Stay tuned.</p>#}
                            <table class="eq-table">
                                <thead>
                                <tr>
                                    <th style="max-width: 20px;">Slot</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, spell_description in spell_effects %}
                                    <tr>
                                        <td>{{ index }}</td>
                                        <td>{{ spell_description|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <h6 class="eq-header">Details</h6>
                        <div class="row">
                            <div class="col">
                                <span style="font-weight: bold; color: #8aa3ff;">Mana:</span>&nbsp;{{ spell_data.mana }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Casting Time:</span>&nbsp;{{ spell_data.cast_time|spell_time_filter }}s<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Recast Time:</span>&nbsp;{{ spell_data.recast_time|spell_time_filter }}s<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Recovery Time:</span>&nbsp;{{ spell_data.recovery_time|spell_time_filter }}s<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Range to Target:</span>&nbsp;{{ spell_data.range }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">AE Radius:</span>&nbsp;{{ spell_data.aoe_range }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Zone Type:</span>&nbsp;{{ spell_data.zone_type|zone_types_filter }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Target Type:</span>&nbsp;{{ spell_data.target_type|spell_target_type }}<br/>
                            </div>
                            <div class="col">
                                <span style="font-weight: bold; color: #8aa3ff;">Skill:</span>&nbsp;{{ spell_data.skill|player_skill }}<br/>

                                <span style="font-weight: bold; color: #8aa3ff;">Resist Type:</span>&nbsp;{{ spell_data.resist_type|resist_type_filter }}
                                (<span class="help-tooltip">{{ spell_data.resist_diff }}</span>)<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Spell Type:</span>&nbsp;{{ spell_data.spell_category|spell_category_filter }}<br/>

                                <span style="font-weight: bold; color: #8aa3ff;">Deleteable</span>&nbsp;{{ spell_data.deleteable|yesno }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Interruptable</span>&nbsp;{{ spell_data.uninterruptable|invert_1_0|yesno }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Reflectable</span>&nbsp;{{ spell_data.reflectable|yesno }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Dispellable</span>&nbsp;{{ spell_data.nodispell|invert_1_0|yesno }}<br/>
                                <span style="font-weight: bold; color: #8aa3ff;">Short Buff Box</span>&nbsp;{{ spell_data.short_buff_box|yesno }}<br/>

                                <span style="font-weight: bold; color: #8aa3ff;">Time of Day:</span>&nbsp;
                                {% if spell_data.time_of_day == 2 %}Nighttime {% else %}Any{% endif %} <br/>

                            </div>
                        </div>
                        <hr/>
                        <h6 class="eq-header">Messages</h6>
                        {% if spell_data.you_cast %}
                            <span style="font-weight: bold; color: #8aa3ff;">When you cast:</span>&nbsp;
                            {{ spell_data.you_cast }}<br/>{% endif %}
                        {% if spell_data.other_casts %}
                            <span style="font-weight: bold; color: #8aa3ff;">When others cast:</span>&nbsp;
                            {{ spell_data.other_casts }}<br/>{% endif %}
                        {% if spell_data.cast_on_you %}
                            <span style="font-weight: bold; color: #8aa3ff;">When cast on you:</span>&nbsp;
                            {{ spell_data.cast_on_you }}<br/>{% endif %}
                        {% if spell_data.cast_on_other %}
                            <span style="font-weight: bold; color: #8aa3ff;">When cast on other:</span>&nbsp;Soandso
                            {{ spell_data.cast_on_other }}<br/>{% endif %}
                        {% if spell_data.spell_fades %}
                            <span style="font-weight: bold; color: #8aa3ff;">When fading:</span>&nbsp;
                            {{ spell_data.spell_fades }}<br/>{% endif %}
                    </div>
                </div>
                <div class="col-3">
                    <div class="eq-window-simple">
                        <h4 class="eq-header">Quick Facts</h4>
                        {# -99 is NPC only spell category #}
                        {% if spell_data.spell_category != -99 %}
                            <span style="font-weight: bold; color: #8aa3ff;">Scroll(s):</span><br/>
                            <ul>
                                {% for scroll in scrolls %}
                                    <li>
                                        &nbsp;<a href="/items/view/{{ scroll.id }}">{{ scroll.Name }}</a></li>
                                {% endfor %}
                            </ul>
                            <hr/>
                        {% endif %}
                        {% if components|length > 0 %}
                            <span style="font-weight: bold; color: #8aa3ff;">Reagents</span><br/>
                            <ul>
                                {% for item, count in components %}
                                    <li><a href="/items/view/{{ item.id }}">{{ item.Name }}</a>&nbsp;x{{ count }}</li>
                                {% endfor %}
                            </ul>
                            <hr/>
                        {% endif %}
                        {# -99 is NPC only spell category #}
                        {% if spell_data.spell_category != -99 %}
                            <table class="eq-table">
                                <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Level</th>
                                </tr>
                                </thead>
                                {% if spell_data.classes1 != 255 %}
                                    <tr>
                                        <td>WAR</td>
                                        <td>{{ spell_data.classes1 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes2 != 255 %}
                                    <tr>
                                        <td>CLR</td>
                                        <td>{{ spell_data.classes2 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes3 != 255 %}
                                    <tr>
                                        <td>PAL</td>
                                        <td>{{ spell_data.classes3 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes4 != 255 %}
                                    <tr>
                                        <td>RNG</td>
                                        <td>{{ spell_data.classes4 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes5 != 255 %}
                                    <tr>
                                        <td>SHD</td>
                                        <td>{{ spell_data.classes5 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes6 != 255 %}
                                    <tr>
                                        <td>DRU</td>
                                        <td>{{ spell_data.classes6 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes7 != 255 %}
                                    <tr>
                                        <td>MNK</td>
                                        <td>{{ spell_data.classes7 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes8 != 255 %}
                                    <tr>
                                        <td>BRD</td>
                                        <td>{{ spell_data.classes8 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes9 != 255 %}
                                    <tr>
                                        <td>ROG</td>
                                        <td>{{ spell_data.classes9 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes10 != 255 %}
                                    <tr>
                                        <td>SHM</td>
                                        <td>{{ spell_data.classes10 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes11 != 255 %}
                                    <tr>
                                        <td>NEC</td>
                                        <td>{{ spell_data.classes11 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes12 != 255 %}
                                    <tr>
                                        <td>WIZ</td>
                                        <td>{{ spell_data.classes12 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes13 != 255 %}
                                    <tr>
                                        <td>MAG</td>
                                        <td>{{ spell_data.classes13 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes14 != 255 %}
                                    <tr>
                                        <td>ENC</td>
                                        <td>{{ spell_data.classes14 }}</td>
                                    </tr>{% endif %}
                                {% if spell_data.classes15 != 255 %}
                                    <tr>
                                        <td>BST</td>
                                        <td>{{ spell_data.classes15 }}</td>
                                    </tr>{% endif %}
                            </table>
                            <hr/>
                        {% endif %}
                        <span style="font-weight: bold; color: #8aa3ff;">Expansion:</span>&nbsp;?
                        <hr/>
                        <span style="font-weight: bold; color: #8aa3ff;">Duration:</span>&nbsp;
                        {% if spell_data.buff_duration == 0 %}
                            Instant
                        {% else %}
                            {{ spell_max_time|datetime_delta }} ({{ spell_max_duration }} ticks)
                        {% endif %}
                        <div class="row mt-2">
                            <div class="col eq-window-nested-tan">
                                <span style="font-weight: bold; color: #8aa3ff; font-size: 13px;">Alternate Sources:</span><br/>
                                <ul class="list-group-numbered">
                                    <li class="list-group-item"><a
                                            href="https://lucy.alkabor.com/spell_{{ spell_data.id }}.html"
                                            target="_blank">Alkabor Spell
                                        ID: {{ spell_data.id }}</a>
                                    </li>
                                    <li class="list-group-item"><a
                                            href="https://lucy.allakhazam.com/spell.html?id={{ spell_data.id }}&source=Live"
                                            target="_blank">Lucy Spell ID: {{ spell_data.id }}</a>
                                    </li>
                                    <li class="list-group-item"><a
                                            href="https://everquest.allakhazam.com/db/spell.html?spell={{ spell_data.id }}"
                                            target="_blank">Allakhazam Spell ID: {{ spell_data.id }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="eq-window-simple">
                    <div class="row">
                    <h3 class="eq-header text-center">Items with Spell Effect:</h3>
                    <div class="col-12 col-md-4">
                        <article class="p-3">
                            <h6 class="text-center">Worn:</h6>
                            <ul>
                                {% for item in items_with_effect %}
                                    {% if item.worn_effect == spell_data.id %}
                                        <li>
                                            <img class="no-round" style="background:url(/static/images/icons/blank_slot.gif);"
                                                 src="/static/images/items/item_{{ item.icon }}.png" alt=""/> 
                                            <a href="/items/view/{{ item.id }}" data-url="{{ item.id }}">{{ item.Name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </article>
                    </div>
                    <div class="col-12 col-md-4">
                        <article class="p-3">
                            <h6 class="text-center">Click:</h6>
                            <ul>
                                {% for item in items_with_effect %}
                                    {% if item.click_effect == spell_data.id %}
                                        <li>
                                            <img class="no-round" style="background:url(/static/images/icons/blank_slot.gif);"
                                                 src="/static/images/items/item_{{ item.icon }}.png" alt=""/>
                                            <a href="/items/view/{{ item.id }}" data-url="{{ item.id }}">{{ item.Name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </article>
                    </div>
                    <div class="col-12 col-md-4">
                        <article class="p-3">
                            <h6 class="text-center">Proc:</h6>
                            <ul>
                                {% for item in items_with_effect %}
                                    {% if item.proc_effect == spell_data.id %}
                                        <li>
                                            <img class="no-round" style="background:url(/static/images/icons/blank_slot.gif);"
                                                 src="/static/images/items/item_{{ item.icon }}.png" alt=""/>
                                            <a href="/items/view/{{ item.id }}" data-url="{{ item.id }}">{{ item.Name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </article>
                    </div>

                </div>
            </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
