{% extends 'spells/header.html' %}
{% load data_utilities %}
{% block content %}
    <div class="container">
        {% if spell_data == None %}
            <h3 class="mt-3 text-center">That spell does not exist!</h3>
            <p class="text-center">Please try searching for another spell.</p>
        {% else %}
            <div class="row mt-2">
                <div class="col-3">
                    Alternate Sites:
                </div>
                <div class="col-3">
                    <a href="https://lucy.alkabor.com/spell_{{ spell_data.id }}.html">Alkabor Spell Page</a>
                </div>
                <div class="col-3">
                    <a href="https://lucy.allakhazam.com/spell.html?id={{ spell_data.id }}&source=Live">Lucy Spell Page</a>
                </div>
                <div class="col-3">
                    <a href="https://everquest.allakhazam.com/db/spell.html?spell={{ spell_data.id }}">Allakhazam Spell
                        Page</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="eq-window-simple">
                        <h3 class="eq-header"><img src="/static/images/icons/{{ spell_data.custom_icon }}.gif"
                                                   alt="{{ spell_data.custom_icon }}.gif">&nbsp;{{ spell_data.name }}
                        </h3>
                        <span style="font-weight: bold; color: #8aa3ff;">Spell ID:</span>&nbsp;{{ spell_data.id }} <br/>
                        <br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Classes:</span>&nbsp;
                        {% if spell_data.classes1 != 255 %}WAR{% endif %}
                        {% if spell_data.classes2 != 255 %}CLR{% endif %}
                        {% if spell_data.classes3 != 255 %}PAL{% endif %}
                        {% if spell_data.classes4 != 255 %}RNG{% endif %}
                        {% if spell_data.classes5 != 255 %}SHD{% endif %}
                        {% if spell_data.classes6 != 255 %}DRU{% endif %}
                        {% if spell_data.classes7 != 255 %}MNK{% endif %}
                        {% if spell_data.classes8 != 255 %}BRD{% endif %}
                        {% if spell_data.classes9 != 255 %}ROG{% endif %}
                        {% if spell_data.classes10 != 255 %}SHM{% endif %}
                        {% if spell_data.classes11 != 255 %}NEC{% endif %}
                        {% if spell_data.classes12 != 255 %}WIZ{% endif %}
                        {% if spell_data.classes13 != 255 %}MAG{% endif %}
                        {% if spell_data.classes14 != 255 %}ENC{% endif %}
                        {% if spell_data.classes15 != 255 %}BST{% endif %}
                        <br/>
                        <span style="font-weight: bold; color: #8aa3ff;">When cast on you:</span>&nbsp;{{ spell_data.cast_on_you }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">When cast on other:</span>&nbsp;Soandso{{ spell_data.cast_on_other }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">When fading:</span>&nbsp;{{ spell_data.spell_fades }}<br/>
                        <br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Target Type:</span>&nbsp;{{ spell_data.target_type|spell_target_type }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Spell Type:</span>&nbsp;{{ spell_data.spell_category }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Mana:</span>&nbsp;{{ spell_data.mana }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Range to Target:</span>&nbsp;{{ spell_data.range }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Casting Time:</span>&nbsp;{{ spell_data.casting_time }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Recovery Time:</span>&nbsp;{{ spell_data.recovery_time }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Recast Time:</span>&nbsp;{{ spell_data.recast_time }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Duration:</span>&nbsp;{{ spell_data.duration }}<br/>
                        <span style="font-weight: bold; color: #8aa3ff;">Skill:</span>&nbsp;{{ spell_data.skill|player_skill }}<br/>
                        <br/>
                        <h3 class="eq-header">Effects</h3>
                        <div class="col-6">
                            <table class="eq-table">
                                <thead>
                                <tr>
                                    <th style="max-width: 20px;">Slot</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
