{% extends 'quests/base.html' %}
{% load static %}
{% load expansion_filters %}
{% load data_utilities %}
{% load markdown_extras %}
{% load npc_filters %}

{% block content %}
    <main class="container py-4">
        {% if quest_exists %}
            <article class="quest-details">
                <header>
                    <h1 class="quest-title">{{ quest.name }}</h1>
                    <hr class="quest-divider">
                </header>

                <div class="row">
                    <nav aria-label="breadcrumb" class="mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "accounts:index" %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Quests</a></li>
                            {% if quest.starting_zone %}
                                <li class="breadcrumb-item"><a href="">{{ quest.starting_zone|zone_short_to_long }}</a>
                                </li>
                            {% endif %}
                            <li class="breadcrumb-item active" aria-current="page">{{ quest.name }}</li>
                        </ol>
                    </nav>
                    <div class="col-12 quest-summary">
                        <div class="quest-location mb-2">
                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                            <strong>Start at:</strong>
                            {% if quest.starting_zone %}
                                <a href="/zones/view/{{ quest.starting_zone }}"> {{ quest.starting_zone|zone_short_to_long }}</a>
                            {% else %}
                                <span class="text-muted mb-0">Unknown Zone</span>
                            {% endif %}
                            with
                            <span class="tooltip-custom">
                                <a href="/npcs/view/{{ starting_npc.id }}">{{ starting_npc.name|clean_name }}</a>
                                <span class="tooltip-text">NPC in {{ quest.starting_zone|zone_short_to_long }}</span>
                            </span>
                        </div>

                        <div class="quest-requirements mb-2">
                            <i class="fas fa-chess-king" aria-hidden="true"></i>
                            <strong>Level:</strong>
                            {% if quest.minimum_level %}{{ quest.minimum_level }}{% else %}1{% endif %}
                            {% if quest.max_level == -1 %} - {{ quest.max_level }}{% else %}+{% endif %} |
                            <strong>Expansion:</strong>
                            <img src="{% static '/images/' %}{{ quest.expansion_introduced|expansion_icon }}"
                                 loading="lazy"
                                 alt="{{ quest.expansion_introduced|exp_filter|title }}"
                                 aria-label="Expansion icon for {{ quest.expansion_introduced|exp_filter|title }}"/>
                        </div>

                        <div class="quest-reward mb-2">
                            <i class="fas fa-gem"></i> <strong>Reward:</strong>
                            <span class="tooltip-custom">
                                {% if quest.quest_reward.item_id %}
                                    <a href="/items/view/{{ quest.quest_reward.item_id }}">{{ quest.quest_reward.item_name }}</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <aside class="col-12 col-md-3" role="complementary">
                        <section class="questInfoBox">

                            <table class="table" role="presentation">
                                <thead>
                                <tr>
                                    <th colspan="2" class="msb_top" id="quest-info-header">
                                        Quest Information
                                    </th>
                                </tr>
                                </thead>
                                <tbody aria-labelledby="quest-info-header">

                                <tr>
                                    <th colspan="2" class="msb_sub">
                                        <h2 class="h6 m-0">Availability</h2>
                                    </th>
                                </tr>

                                <tr>
                                    <th scope="row">Class Restrictions:</th>
                                    {% if quest.class_restrictions == -1 %}
                                        <td>None</td>
                                    {% else %}
                                        <td>{{ quest.class_restrictions|player_class }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Race Restrictions:</th>
                                    {% if quest.race_restrictions == -1 %}
                                        <td>None</td>
                                    {% else %}
                                        <td>{{ quest.race_restrictions|player_race }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Deity Restrictions:</th>
                                    {% if quest.deity_restrictions == -1 %}
                                        <td>None</td>
                                    {% else %}
                                        <td>{{ quest.deity_restrictions|player_deity }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Repeatable:</th>
                                    <td>{{ quest.is_repeatable|yesno }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Monster Mission:</th>
                                    <td>{{ quest.monster_mission|yesno }}</td>
                                </tr>

                                {# Quest Items #}
                                <tr>
                                    <th colspan="2" class="msb_sub">
                                        <h2 class="h6 m-0">Quest Items</h2>
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% if quest_items %}
                                            <ul class="list-group">
                                                {% for item in quest_items %}
                                                    <li class="list-group-item"><a href="/items/view/{{ item.id }}"
                                                                                   class="quest-item-link">{{ item.Name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p class="text-muted mb-0">No quest items required</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_sub" scope="row">Related Zones</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% if related_zones %}
                                            <ul class="list-group">
                                                {% for zone in related_zones %}
                                                    <li class="list-group-item">
                                                        <a href="/zones/view/{{ zone.short_name }}"
                                                           class="related-zones-link">{{ zone.long_name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p class="text-muted">None</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_sub" scope="row">Related NPCs</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group">
                                            {% for npc in related_npcs %}
                                                <li class="list-group-item"><a
                                                        href="/npcs/view/{{ npc.id }}">{{ npc.name|clean_name }}</a>
                                                </li>
                                            {% empty %}
                                                <li class=" text-muted list-group-item">None</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_top" scope="row">Faction Information</th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_sub" scope="row">Factions Required</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group">
                                            {% for faction in factions_required %}
                                                <li class="list-group-item">
                                                    <a href="/factions/view/{{ faction.id }}">{{ faction.name|clean_name }}</a>
                                                </li>
                                            {% empty %}
                                                <li class="list-group-item">None</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_sub" scope="row">Factions Raised</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group">
                                            {% for faction in factions_raised %}
                                                <li class="list-group-item">
                                                    <a href="/factions/view/{{ faction.id }}">{{ faction.name|clean_name }}</a>
                                                </li>
                                            {% empty %}
                                                <li class="list-group-item">None</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_sub" scope="row">Factions Lowered</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group">
                                            {% for faction in factions_lowered %}
                                                <li class="list-group-item">
                                                    <a href="/factions/view/{{ faction.id }}">{{ faction.name|clean_name }}</a>
                                                </li>
                                            {% empty %}
                                                <li class="list-group-item">None</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="msb_top" scope="row">Known Revisions (Patches)</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item">None</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </aside>
                    <div class="col-12 col-md-9">
                        <section class="quest-description" aria-labelledby="quest-description-header">
                            <h2 id="quest-description-header" class="quest-description-header h5">Description</h2>
                            <div class="quest-description-content">
                                {{ quest.description|render_markdown|safe }}
                            </div>
                        </section>
                    </div>
                </div>
                <script src="{% static 'quests/checkbox-cookie-manager.js' %}"></script>
            </article>

        {% else %}
            <section class="error-section" role="alert">
                <h1>Quest Not Found</h1>
                <p class="error-message">We could not find a quest with ID "{{ quest_id }}". Please try another quest.</p>
                <a href="#" class="btn btn-primary">Return to Quest Search</a>
                <a href="{% url 'accounts:index' %}" class="btn btn-secondary">Go to Homepage</a>
            </section>
        {% endif %} {# End if quest exists #}
    </main>
{% endblock %}
{% block inline_js %}
    <script>
        // Enable checkboxes
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.disabled = false;
        });

        // Back to Top functionality
        window.onscroll = function() {
            const backToTop = document.querySelector('.back-to-top');
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTop.style.display = 'block';
            } else {
                backToTop.style.display = 'none';
            }
        };
    </script>
{% endblock %}