{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4 eq-window-simple">
        <div class="eq-header" style="text-align: center; font-size: 24px;">Antonica</div>
        <div class="eq-window-nested-tan row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Outdoors</p>
                <ul>
                    <li><a href="/zones/view/arena" title="The Arena">The Arena</a></li>
                    <li><a href="/zones/view/beholder" title="Beholder's Maze">Beholder's Maze<br/>(Gorge of King Xorbb)</a>
                    </li>
                    <li><a href="/zones/view/ecommons" title="East Commonlands">East Commonlands</a></li>
                    <li><a href="/zones/view/eastkarana" title="Eastern Plains of Karana">Eastern Karana</a></li>
                    <li><a href="/zones/view/everfrost" title="Everfrost Peaks">Everfrost Peaks</a></li>
                    <li><a href="/zones/view/highpass" title="Highpass Hold">Highpass Hold</a></li>
                    <li><a href="/zones/view/innothule" title="Innothule Swamp">Innothule Swamp</a></li>
                    <li><a href="/zones/view/kithicor" title="Kithicor Forest">Kithicor Forest</a></li>
                    <li><a href="/zones/view/lakerathe" title="Lake Rathetear">Lake Rathetear</a></li>
                    <li><a href="/zones/view/lavastorm" title="Lavastorm Mountains">Lavastorm Mountains</a></li>
                    <li><a href="/zones/view/misty" title="Misty Thicket">Misty Thicket</a></li>
                    <li><a href="/zones/view/nektulos" title="Nektulos Forest">Nektulos Forest</a></li>
                    <li><a href="/zones/view/nro" title="Northern Desert of Ro">Northern Desert of Ro</a></li>
                    <li><a href="/zones/view/northkarana" title="Northern Plains of Karana">Northern Karana</a></li>
                    <li><a href="/zones/view/oasis" title="Oasis of Marr">Oasis of Marr</a></li>
                    <li><a href="/zones/view/oot" title="Ocean of Tears">Ocean of Tears</a></li>
                    <li><a href="/zones/view/qeytoqrg" title="Qeynos Hills">Qeynos Hills</a></li>
                    <li><a href="/zones/view/rathemtn" title="Rathe Mountains">Rathe Mountains</a></li>
                    <li><a href="/zones/view/sro" title="Southern Desert of Ro">Southern Desert of Ro</a></li>
                    <li><a href="/zones/view/southkarana" title="Southern Karana">Southern Karana</a></li>
                    <li><a href="/zones/view/feerrott" title="The Feerrott">The Feerrott</a></li>
                    <li><a href="/zones/view/commons" title="West Commonlands">West Commonlands</a></li>
                    <li><a href="/zones/view/qey2hh1" title="Western Plains of Karana">Western Karana</a></li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img alt="Map rav antonica.jpg" src="{% static "/images/Map_rav_antonica.jpg" %}" width="339"
                     height="401"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li><a href="/zones/view/grobb" title="Grobb">Grobb</a></li>
                    <li><a href="/zones/view/halas" title="Halas">Halas</a></li>
                    <li>Neriak
                        <ul>
                            <li><a href="/zones/view/neriaka" title="Neriak - Foreign Quarter">Foreign Quarter</a></li>
                            <li><a href="/zones/view/neriakb" title="Neriak - Commons">Commons</a></li>
                            <li><a href="/zones/view/neriakc" title="Neriak - 3rd Gate">3rd Gate</a></li>
                        </ul>
                    </li>
                    <li>Freeport
                        <ul>
                            <li><a href="/zones/view/freporte" title="Freeport East">East</a></li>
                            <li><a href="/zones/view/freportn" title="Freeport North">North</a></li>
                            <li><a href="/zones/view/freportw" title="Freeport West">West</a></li>
                        </ul>
                    </li>
                    <li>Qeynos
                        <ul>
                            <li><a href="/zones/view/qeynos" title="South Qeynos">South</a></li>
                            <li><a href="/zones/view/qeynos2" title="North Qeynos">North</a></li>
                        </ul>
                    </li>
                    <li><a href="/zones/view/oggok" title="Oggok">Oggok</a></li>
                    <li><a href="/zones/view/rivervale" title="Rivervale">Rivervale</a></li>
                    <li><a href="/zones/view/qrg" title="Surefall Glade">Surefall Glade</a></li>
                </ul>
                <p style="font-weight: bold;">Dungeons</p>
                <ul>
                    <li><a href="/zones/view/Befallen" title="Befallen">Befallen</a></li>
                    <li><a href="/zones/view/Blackburrow" title="Blackburrow">Blackburrow</a></li>
                    <li><a href="/zones/view/cazicthule" title="Cazic Thule">Cazic Thule</a></li>
                    <li><a href="/zones/view/runnyeye" title="Runnyeye Citadel">Runnyeye Citadel</a></li>
                    <li><a href="/zones/view/highkeep" title="High Keep">High Keep</a></li>
                    <li><a href="/zones/view/gukbottom" title="Lower Guk">Lower Guk</a></li>
                    <li><a href="/zones/view/soldungb" title="Nagafen's Lair">Nagafen's Lair (Sol B)</a></li>
                    <li><a href="/zones/view/najena" title="Najena">Najena</a></li>
                    <li><a href="/zones/view/permafrost" title="Permafrost">Permafrost</a></li>
                    <li><a href="/zones/view/qcat" title="Qeynos Aqueducts">Qeynos Aqueducts</a></li>
                    <li><a href="/zones/view/soldunga" title="Solusek's Eye">Solusek's Eye (Sol A)</a></li>
                    <li><a href="/zones/view/paw" title="Splitpaw Lair">Splitpaw Lair</a></li>
                    <li><a href="/zones/view/soltemple" title="The Temple of Solusek Ro">The Temple of Solusek Ro</a>
                    </li>
                    <li><a href="/zones/view/guktop" title="Upper Guk">Upper Guk</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
