{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eq-ui.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css" integrity="sha384-h6qfeNTBugo8Dfk0WUwqC76yhATSOEn13mkiFpyspIcuRXQiXfT3zUEyYSG6TZEO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css" integrity="sha384-qJvfEBiQtibPWFFYraGFM9v63dGWc23oXj5HytOi4HcbXqScYf5QB9aP50lc4tP/" crossorigin="anonymous">
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.js" integrity="sha384-lsAynlqeJD9p7xzWxwNM3+RFvkLoDLaludTFTPvrpU33WAYEBcrhJ+8QjvIT1Ie6" crossorigin="anonymous"></script>
{% endblock %}
