{% load data_utilities %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <h4>{{ zone_data.long_name }}</h4>
        <div class="col-12 col-md-8">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;border-top: 1px solid">
                    Level of Monsters:
                </li>
                <li class="list-group-item" style="width:90%;border:0;border-top:1px solid;">
                    {{ zone_page_text.level_of_monsters }}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">
                    Types of Monsters:
                </li>
                <li class="list-group-item" style="width:90%;border:0;">
                    {{ zone_page_text.types_of_monsters|safe }}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">Adjacent Zones:</li>
                <li class="list-group-item" style="width:90%;border:0">
                    {% for zone in zone_points %}
                        <a href="/zones/view/{{ zone.1 }}">{{ zone.2 }}</a>,&nbsp;
                    {% empty %}
                        {% if zone_data.short_name == 'oot' %}
                            {# Zone Points are done in oot via quest scripts, so hard code them here #}
                            <a href="/zones/view/freporte">East Freeport</a>,
                            <a href="/zones/view/butcher">Butcherblock Mountains</a>
                        {% elif zone_data.short_name == 'growthplane' %}
                            {# Zone Points to Plane of Growth from Wakening Lands are one-way #}
                            <a href="/zones/view/wakening">Wakening Lands</a>,
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width:170px;">Name in /who:</li>
                <li class="list-group-item" style="width:90%;border:0">{{ zone_data.short_name }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">Succor/Evacuate:</li>
                <li class="list-group-item" style="width:90%;border:0">Y: {{ zone_data.safe_y }},
                    X: {{ zone_data.safe_x }} Z: {{ zone_data.safe_z }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">ZEM:</li>
                <li class="list-group-item" style="width:90%;border:0">{{ zone_data.zone_exp_multiplier }}</li>
            </ul>
        </div>
        <div class="col-12 col-md-2">
            <article class="p-3 bg-body-tertiary border">
                <h5 class="text-center">Quick Facts</h5>
                <dl>
                    <dd>Expansion:
                        <img src="{% static "/images/" %}{{ zone_data.expansion|expansion_icon }}"
                             alt="{{ zone_data.expansion|expansion_icon }}"/>
                        {% if zone_data.short_name == 'warrens' or zone_data.short_name == 'stonebrunt' %}
                            (Custom - normally Velious)
                        {% endif %}
                    </dd>
{#                    <dd>Instanced: {{ zone_data.instanced }}</dd>#}
{#                    <dd>Keyed: {{ zone_data.keyed }}</dd>#}
                    <dd>
                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                            {% if zone_data.cast_outdoor == 1 %}
                                <use href="/static/bootstrap-images/icons.svg#check2"></use>
                            {% else %}
                                <use href="/static/bootstrap-images/icons.svg#x-circle"></use>
                            {% endif %}
                        </svg>
                        Cast Outdoor
                    </dd>
                    <dd>
                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                            {% if zone_data.cast_dungeon == 1 %}
                                <use href="/static/bootstrap-images/icons.svg#check2"></use>
                            {% else %}
                                <use href="/static/bootstrap-images/icons.svg#x-circle"></use>
                            {% endif %}
                        </svg>
                        Cast Dungeon Only
                    </dd>
                    <dd>
                        <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                            {% if zone_data.can_levitate == 1 %}
                                <use href="/static/bootstrap-images/icons.svg#check2"></use>
                            {% else %}
                                <use href="/static/bootstrap-images/icons.svg#x-circle"></use>
                            {% endif %}
                        </svg>
                        Levitate
                    </dd>
                    <dd>
                        {% if zone_data.can_bind == 0 %}
                            <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                <use href="/static/bootstrap-images/icons.svg#x-circle"></use>
                            </svg>
                            None Can Bind
                        {% elif zone_data.can_bind == 1 %}
                            <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                <use href="/static/bootstrap-images/icons.svg#book"></use>
                            </svg>
                            Casters can Bind
                        {% elif zone_data.can_bind == 2 %}
                            <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                <use href="/static/bootstrap-images/icons.svg#check2"></use>
                            </svg>
                            All can Bind
                        {% elif zone_data.can_bind == 3 %}
                            <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                <use href="/static/bootstrap-images/icons.svg#map"></use>
                            </svg>
                            Bind in certain areas
                        {% else %}
                            <use href="/static/bootstrap-images/icons.svg#check2"></use>
                        {% endif %}
                    </dd>
                    {% if zone_data.min_level > 0 %}
                        <dd>
                            <svg class="bi my-1 theme-icon-active" fill="currentColor" width="1em" height="1em">
                                <use href="/static/bootstrap-images/icons.svg#info-circle"></use>
                            </svg>
                            Level Required:&nbsp;{{ zone_data.min_level }}
                        </dd>
                    {% endif %}
                </dl>
            </article>
        </div>
        <div class="row py-2">
            <div class="col">
                <p>{{ zone_page_text.description|safe }}</p>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <h5>Maps</h5>
        <ul class="nav nav-tabs" id="mapViewTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="interactive-map-tab" data-bs-toggle="tab"
                        data-bs-target="#interactive-map-tab-pane"
                        type="button" role="tab" aria-controls="interactive-map-tab-pane" aria-selected="true">
                    Interactive
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="classic-map-tab" data-bs-toggle="tab"
                        data-bs-target="#classic-map-tab-pane"
                        type="button" role="tab" aria-controls="classic-map-tab-pane" aria-selected="true">Classic
                </button>
            </li>
        </ul>
        <hr/>
        <div class="tab-content" id="mapViewTabContent">
            <div class="tab-pane fade show active" id="interactive-map-tab-pane" role="tabpanel"
                 aria-labelledby="interactive-map-tab"
                 tabindex="0">
                <div class="row align-items-md-stretch">
                    <div class="col-12 col-md-10">
                        <div id="map" class="border" style="min-width: 400px; height: 600px;position:relative;"></div>
                    </div>
                    <script src="{% static "leafmap.js" %}"></script>
                </div>
            </div>
            <div class="tab-pane fade" id="classic-map-tab-pane" role="tabpanel"
                 aria-labelledby="classic-map-tab"
                 tabindex="1">
                <div class="col px-5">
                    <div class="row"
                         style="border: 1px solid gray; max-width: 1200px; width: 90%; background-color:#f0f0ff; padding: 10px;">
                        {{ zone_page_text.map|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if zone_page_text.dangers %}
        <div class="row py-2">
            <h5>Dangers</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.dangers|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.benefits %}
        <div class="row py-2">
            <h5>Benefits</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.benefits|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.travel_to_from %}
        <div class="row py-2">
            <h5>Travel To and From</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.travel_to_from|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.history_lore %}
        <div class="row py-2">
            <h5>History, Lore, Background</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.history_lore|safe }}</p>
            </div>
        </div>
    {% endif %}
</div>
