{% load data_utilities %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>{{ zone_data.long_name }}</h4>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;border-top: 1px solid">
                    Level of Monsters: 
                </li>
                <li class="list-group-item" style="width:90%;border:0;border-top:1px solid;">
                    {{ zone_page_text.level_of_monsters }}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">
                    Types of Monsters:
                </li>
                <li class="list-group-item" style="width:90%;border:0;">
                    {{ zone_page_text.types_of_monsters|safe }}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">
                    Expansion:
                </li>
                <li class="list-group-item" style="width:90%;border:0;">
                    <img src="{% static "/images/" %}{{ zone_data.expansion|expansion_icon }}"
                         alt="{{ zone_data.expansion|expansion_icon }}"/>
                    {% if zone_data.short_name == 'warrens' or zone_data.short_name == 'stonebrunt' %}
                        (Custom - normally Velious)
                    {% endif %}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">Adjacent Zones:</li>
                <li class="list-group-item" style="width:90%;border:0">
                    {% for zone in zone_points %}
                        <a href="/zones/view/{{ zone.1 }}">{{ zone.2 }}</a>,&nbsp;
                    {% empty %}
                        {% if zone_data.short_name == 'oot' %}
                            {# Zone Points are done in oot via quest scripts, so hard code them here #}
                            <a href="/zones/view/freporte">East Freeport</a>,
                            <a href="/zones/view/butcher">Butcherblock Mountains</a>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width:170px;">Name in /who:</li>
                <li class="list-group-item" style="width:90%;border:0">{{ zone_data.short_name }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">Succor/Evacuate:</li>
                <li class="list-group-item" style="width:90%;border:0">Y: {{ zone_data.safe_x }},
                    X: {{ zone_data.safe_y }} Z: {{ zone_data.safe_z }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">ZEM:</li>
                <li class="list-group-item" style="width:90%;border:0">{{ zone_data.zone_exp_multiplier }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;">Casters Can Bind:</li>
                <li class="list-group-item" style="width:90%;border:0">{{ zone_data.can_bind|can_bind_filter }}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="background-color:#cedff2; width: 170px;border-bottom: 1px solid;">
                    Levitate:
                </li>
                <li class="list-group-item"
                    style="width:90%;border:0;border-bottom: 1px solid">{{ zone_data.can_levitate|yes_no }}</li>
            </ul>
        </div>
        <div class="row py-2">
            <div class="col">
                <p>{{ zone_page_text.description|safe }}</p>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <h5>Map</h5>
        <hr/>
        <div class="col px-5">
            <div class="row"
                 style="border: 1px solid gray; max-width: 1200px; width: 90%; background-color:#f0f0ff; padding: 10px;">
                    {{ zone_page_text.map|safe }}
            </div>
        </div>
    </div>
    {% if zone_page_text.dangers %}
        <div class="row py-2">
            <h5>Dangers</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.dangers|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.benefits %}
        <div class="row py-2">
            <h5>Benefits</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.benefits|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.travel_to_from %}
        <div class="row py-2">
            <h5>Travel To and From</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.travel_to_from|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if zone_page_text.history_lore %}
        <div class="row py-2">
            <h5>History, Lore, Background</h5>
            <hr/>
            <div class="col px-5">
                <p>{{ zone_page_text.history_lore|safe }}</p>
            </div>
        </div>
    {% endif %}
</div>
