{% load data_utilities %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>{{ zone_data.long_name }}</h4>
            <p>{{ zone_page.description }}</p>
            <ul>
                <li>Expansion: <img
                        src="{% static "/images/" %}{{ zone_data.expansion|add:"-1"|expansion_icon }}"
                        alt="{{ zone_data.expansion|add:"-1"|expansion_icon }}"/>
                    {% if zone_data.short_name == 'warrens' or zone_data.short_name == 'stonebrunt' %}
                        (Custom - normally Velious)
                    {% endif %}
                </li>
                <li>Adjacent Zones:</li>
                <li>Succor: Y: {{ zone_data.safe_x }}, X: {{ zone_data.safe_y }}
                    Z: {{ zone_data.safe_z }}</li>
                <li>ZEM: {{ zone_data.zone_exp_multiplier }}</li>
                <li>Casters Can Bind: {{ zone_data.can_bind|can_bind_filter }}</li>
                <li>Levitate: {{ zone_data.can_levitate|yes_no }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Map</h5>
            <hr/>
            <div class="row" style="border: 1px solid gray; max-width: 1000px; width: 100%; background-color:#f0f0ff; padding: 10px;">
                <div class="col align-self-left">
                    <span style="font-weight: bold;">{{ zone_data.short_name|zone_short_to_long }}</span>
                </div>
                <div class="col align-self-right">
                    <img src="{% static "/images/zone_maps/Map_" %}{{ zone_data.short_name }}.jpg"
                         alt="Map_{{ zone_data.short_name }}.jpg" style="border: 1px solid">
                </div>
            </div>
        </div>
    </div>
</div>
