{% load static %}
{% load data_utilities %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <span style="font-weight: bold;">Ground Spawns</span> -
            <span style="font-style: italic">Found {{ ground_spawns|length }} ground spawns in {{ zone_data.short_name|zone_short_to_long }}:</span>
            <table id="ground-spawns-table" class="display table table-striped"
                   style="width: 100%;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Coordinates (Y, X, Z)</th>
                    <th>Comment</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </thead>
                <tbody>
                {% for id, max_x, max_y, max_z, min_x, min_y, heading, max_allowed, comment, respawn_timer, item, item_name, icon, min_expansion, max_expansion in ground_spawns %}
                    <tr>
                        <td><img src="{% static '/images/items' %}/item_{{ icon }}.png"
                                 alt="item_{{ icon }}.png">
                            <a href="/items/view/{{ item }}"
                               target="_blank">{{ item_name }}</a>
                        </td>
                        <td>({{ max_y }}, {{ max_x }}, {{ max_z }})</td>
                        <td>{{ comment }}</td>
                        <td><img src="{% static "/images/" %}{{ min_expansion|expansion_icon }}"
                                 alt="{{ point.min_expansion }}"></td>
                        <td><img src="{% static "/images/" %}{{ max_expansion|expansion_icon }}"
                                 alt="{{ point.max_expansion }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Coordinates (Y, X, Z)</th>
                    <th>Comment</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
