{% extends 'zones/header.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="py-5">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="zonesTab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="antonica-tab" data-bs-toggle="pill"
                            data-bs-target="#antonica-tab-pane" type="button" role="tab"
                            aria-controls="antonica-tab-pane" aria-selected="true">Zones
                    </button>
                    <button class="nav-link" id="zem-tab" data-bs-toggle="pill" data-bs-target="#zem-tab-pane"
                            type="button" role="tab" aria-controls="zem-tab-pane" aria-selected="true">ZEM
                    </button>
                    <button class="nav-link" id="maps-tab" data-bs-toggle="pill" data-bs-target="#maps-tab-pane"
                            type="button" role="tab" aria-controls="maps-tab-pane" aria-selected="true">Maps
                    </button>
                </div>
                <div class="col tab-content" id="zonesTabContent">
                    <div class="tab-pane fade show active" id="antonica-tab-pane" role="tabpanel"
                         aria-labelledby="antonica-tab"
                         tabindex="0">
                        <div class="row px-4">
                            <div class="col">
                <pre>I've been everywhere, [Odus], [Faydwer], [Kunark]. . . .
You name it, and I can tell ya a little something 'bout it. . .
If you buy me a sip of brandy, of course!
- Captain Rohand
                    </pre>
                            </div>
                        </div>
                        <div class="container-fluid px-4">
                            <ul class="list-group list-group-horizontal justify-content-center">
                                <li class="list-group-item"><a href="https://www.steveprutz.com/eq/" target="_blank">Classic
                                    Cartography: The Everquest Map Preserve</a></li>
                                <li class="list-group-item"><a href="#">Maps of the World of Norrath / Zone Connection
                                    Maps </a></li>
                            </ul>
                            <ul class="list-group list-group-horizontal justify-content-center"
                                style="text-align: center;">
                                <li class="list-group-item"><a href="#antonica-section">Antonica</a></li>
                                <li class="list-group-item"><a href="#odus-faydwer-section">Odus/Faydwer</a></li>
                                <li class="list-group-item"><a href="#kunark-section">Kunark</a></li>
                                <li class="list-group-item"><a href="#velious-section">Velious</a></li>
                                <li class="list-group-item"><a href="#planes-section">Planes</a></li>
                                <li class="list-group-item"><a href="#luclin-section">Luclin</a></li>
                                <li class="list-group-item"><a href="#planesofpower-section">Planes of Power</a></li>
                            </ul>
                        </div>
                        <div id="antonica-section">
                            {% include "zones/antonica.html" %}
                        </div>
                        <div id="odus-faydwer-section">
                            {% include "zones/odus_faydwer.html" %}
                        </div>
                        <div id="kunark-section">
                            {% include "zones/kunark.html" %}
                        </div>
                        {% if 1 %}
                            <div id="velious-section">
                                {% include "zones/velious.html" %}
                            </div>
                        {% endif %}
                        <div id="planes-section">
                            {% include "zones/planes.html" %}
                        </div>
                        {% if 1 %}
                            <div id="luclin-section">
                                {% include "zones/luclin.html" %}
                            </div>
                            <div id="planesofpower-section">
                                {% include "zones/planesofpower.html" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="zem-tab-pane" role="tabpanel" aria-labelledby="zem-tab"
                         tabindex="1">
                        {% include "zones/zem.html" %}
                    </div>
                    <div class="tab-pane fade" id="maps-tab-pane" role="tabpanel" aria-labelledby="maps-tab"
                         tabindex="2">
                        <div class="container-fluid">
                            <h3>Classic Zone Connection Map</h3>
                            <img class="image-fluid" style="max-width: 100%;"
                                 src="{% static "images/Classic_Zone_Connection.jpg" %}"
                                 alt="Classic Zone Connection Map">
                            <h3>Kunark Zone Connection Map</h3>
                            <img class="image-fluid" style="max-width: 100%;"
                                 src="{% static "images/Kunark_Zone_Connection.png" %}"
                                 alt="Classic Zone Connection Map">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
