{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4 eq-window-simple">
        <div class="eq-header" style="text-align: center; font-size: 24px;">Kunark</div>
        <div class="eq-window-nested-tan row align-items-start">
            <div class="col px-4">
                <p><b>Outdoors</b></p>
                <ul>
                    <li><a href="/zones/view/burningwood" title="Burning Wood">Burning Wood</a>
                    </li>
                    <li><a href="/zones/view/dreadlands" title="Dreadlands">Dreadlands</a>
                    </li>
                    <li><a href="/zones/view/emeraldjungle" title="Emerald Jungle">Emerald Jungle</a>
                    </li>
                    <li><a href="/zones/view/fieldofbone" title="Field of Bone">Field of Bone</a>
                    </li>
                    <li><a href="/zones/view/firiona" title="Firiona Vie">Firiona Vie</a>
                    </li>
                    <li><a href="/zones/view/frontiermtns" title="Frontier Mountains">Frontier Mountains</a>
                    </li>
                    <li><a href="/zones/view/lakeofillomen" title="Lake of Ill Omen">Lake of Ill Omen</a>
                    </li>
                    <li><a href="/zones/view/overthere" title="The Overthere">The Overthere</a>
                    </li>
                    <li><a href="/zones/view/skyfire" title="Skyfire Mountains">Skyfire Mountains</a>
                    </li>
                    <li><a href="/zones/view/swampofnohope" title="Swamp of No Hope">Swamp of No Hope</a>
                    </li>
                    <li><a href="/zones/view/timorous" title="Timorous Deep">Timorous Deep</a>
                    </li>
                    <li><a href="/zones/view/trakanon" title="Trakanon's Teeth">Trakanon's Teeth</a>
                    </li>
                    <li><a href="/zones/view/warslikswood" title="Warsliks Woods">Warsliks Woods</a>
                    </li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img alt="Map rav kunark.jpg" src="{% static "/images/Map_rav_kunark.jpg" %}" width="382" height="280"/>
            </div>
            <div class="col">
                <p><b>Cities</b></p>
                <ul>
                    <li>Cabilis
                        <ul>
                            <li><a href="/zones/view/cabeast" title="Cabilis East">East</a></li>
                            <li><a href="/zones/view/cabwest" title="Cabilis West">West</a></li>
                        </ul>
                    </li>
                </ul>
                <p><b>Dungeons</b></p>
                <ul>
                    <li><a href="/zones/view/chardok" title="Chardok">Chardok</a></li>
                    <li><a href="/zones/view/citymist" title="City of Mist">City of Mist</a></li>
                    <li><a href="/zones/view/dalnir" title="Dalnir">Dalnir</a></li>
                    <li><a href="/zones/view/charasis" title="Howling Stones">Howling Stones (Charasis)</a></li>
                    <li><a href="/zones/view/kaesora" title="Kaesora">Kaesora</a></li>
                    <li><a href="/zones/view/karnor" title="Karnor's Castle">Karnor's Castle</a></li>
                    <li><a href="/zones/view/kurn" title="Kurn's Tower">Kurn's Tower</a></li>
                    <li><a href="/zones/view/nurga" title="Mines of Nurga">Mines of Nurga</a></li>
                    <li><a href="/zones/view/sebilis" title="Old Sebilis">Old Sebilis</a></li>
                    <li><a href="/zones/view/droga" title="Temple of Droga">Temple of Droga</a></li>
                    <li><a href="/zones/view/veeshan" title="Veeshan's Peak">Veeshan's Peak</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
