{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4">
        <div class="row-4"
             style="text-align: center; font-weight: bold; background-color: #cedff2; border: #000 solid 1px;">Luclin
        </div>
        <div class="row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Outdoors</p>
                <ul>
                    <li>Dawnshroud Peaks</li>
                    <li>Grimling Forest</li>
                    <li>Grieg's End</li>
                    <li>Hollowshade Moor</li>
                    <li>Jaggedpine Forest</li>
                    <li>Maiden's Eye</li>
                    <li>Marus Seru</li>
                    <li>Mons Letalis - HOT ZONE</li>
                    <li>Sanctus Seru</li>
                    <li>Scarlet Desert - HOT ZONE</li>
                    <li>Shadeweaver's Thicket</li>
                    <li>Tenebrous Mountains</li>
                    <li>The Grey</li>
                    <li>Twilight Sea</li>
                    <li>Umbral Plains</li>
                </ul>
            </div>
            <div class="col py-5">
                <img alt="luclin_map.jpg" src="{% static "/images/luclin_map.jpg" %}" width="337" height="307"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li>Katta Castellum</li>
                    <li>Shadow Haven</li>
                    <li>Shar Vahl</li>
                    <li>The Bazaar</li>
                    <li>The Nexus</li>
                </ul>
                <p style="font-weight: bold;">Dungeons</p>
                <ul>
                    <li>Acrylia Caverns</li>
                    <li>Akheva Ruins</li>
                    <li>Echo Caverns</li>
                    <li>Fungus Grove</li>
                    <li>Netherbian Lair</li>
                    <li>Paludal Caverns - HOT ZONE</li>
                    <li>Ssraeshza Temple</li>
                    <li>The Deep - HOT ZONE</li>
                    <li>Vex Thal</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
