{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4">
        <div class="row-4"
             style="text-align: center; font-weight: bold; background-color: #cedff2; border: #000 solid 1px;">Luclin
        </div>
        <div class="row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Outdoors</p>
                <ul>
                    <li><a href="/zones/view/dawnshroud" title="Dawnshroud Peaks">Dawnshroud Peaks</a></li>
                    <li><a href="/zones/view/grimling" title="grimling">Grimling Forest</a></li>
                    <li><a href="/zones/view/griegsend" title="Grieg's End">Grieg's End</a></li>
                    <li><a href="/zones/view/hollowshade" title="Hollowshade Moor">Hollowshade Moor</a></li>
                    <li><a href="/zones/view/jaggedpine" title="Jaggedpine Forest">Jaggedpine Forest</a></li>
                    <li><a href="/zones/view/maiden" title="Maiden's Eye">Maiden's Eye</a></li>
                    <li><a href="/zones/view/mseru" title="Marus Seru">Marus Seru</a></li>
                    <li><a href="/zones/view/letalis" title="Mons Letalis">Mons Letalis - HOT ZONE</a></li>
                    <li><a href="/zones/view/sseru" title="Sanctus Seru">Sanctus Seru</a></li>
                    <li><a href="/zones/view/scarlet" title="Scarlet Desert">Scarlet Desert - HOT ZONE</a></li>
                    <li><a href="/zones/view/shadeweaver" title="Shadeweaver's Thicket">Shadeweaver's Thicket</a></li>
                    <li><a href="/zones/view/tenebrous" title="Tenebrous Mountains">Tenebrous Mountains</a></li>
                    <li><a href="/zones/view/thegrey" title="The Grey">The Grey</a></li>
                    <li><a href="/zones/view/twilight" title="Twilight Sea">Twilight Sea</a></li>
                    <li><a href="/zones/view/umbral" title="Umbral Plains">Umbral Plains</a></li>
                </ul>
            </div>
            <div class="col py-5">
                <img alt="luclin_map.jpg" src="{% static "/images/luclin_map.jpg" %}" width="337" height="307"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li><a href="/zones/view/katta" title="Katta Castellum">Katta Castellum</a></li>
                    <li><a href="/zones/view/shadowhaven" title="Shadow Haven">Shadow Haven</a></li>
                    <li><a href="/zones/view/sharvahl" title="Shar Vahl">Shar Vahl</a></li>
                    <li><a href="/zones/view/bazaar" title="The Bazaar">The Bazaar</a></li>
                    <li><a href="/zones/view/nexus" title="The Nexus">The Nexus</a></li>
                </ul>
                <p style="font-weight: bold;">Dungeons</p>
                <ul>
                    <li><a href="/zones/view/acrylia" title="Acrylia Caverns">Acrylia Caverns</a></li>
                    <li><a href="/zones/view/akheva" title="Akheva Ruins">Akheva Ruins</a></li>
                    <li><a href="/zones/view/echo" title="Echo Caverns">Echo Caverns</a></li>
                    <li><a href="/zones/view/fungusgrove" title="Fungus Grove">Fungus Grove</a></li>
                    <li><a href="/zones/view/netherbian" title="Netherbian Lair">Netherbian Lair</a></li>
                    <li><a href="/zones/view/paludal" title="Paludal Caverns">Paladul Caverns - HOT ZONE</a></li>
                    <li><a href="/zones/view/ssratemple" title="Ssraeshza Temple">Ssraeshza Temple</a></li>
                    <li><a href="/zones/view/thedeep" title="The Deep">The Deep - HOT ZONE</a></li>
                    <li><a href="/zones/view/vexthal" title="Vex Thal">Vex Thal</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
