{% load static %}
{% load data_utilities %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <span style="font-weight: bold;">NPCs</span> -
            <span style="font-style: italic">Found {{ npc_results|length }} NPC's that spawn in {{ zone_data.short_name|zone_short_to_long }}:</span>
            <table id="npc-table" class="display table table-striped" style="width: 100%;">
                <thead>
                <tr>
                    <th>NPC Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Gender</th>
                    <th>Level(s)</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </thead>
                <tbody>
                {% for id, name, race, class, gender, level, max_level, min_expansion, max_expansion in npc_results %}
                    <tr>
                        <td><a href="/npcs/view/{{ id }}">{{ name|clean_name }}</a></td>
                        <td>{{ race|npc_race }}</td>
                        <td>{{ class|npc_class }}</td>
                        <td>{{ gender|gender }}</td>
                        {% if max_level %}
                            <td>{{ level }} - {{ max_level }}</td>
                        {% else %}
                            <td>{{ level }}</td>
                        {% endif %}
                        <td><img src="{% if min_expansion == -1 %}{% static "/images/Original.gif" %}{% else %}{% static "/images/" %}{{ min_expansion|expansion_icon }}{% endif %}"
                                 alt="{{ min_expansion }}"></td>
                        <td>{% if max_expansion == -1 %}All{% elif max_expansion == 99 %}All Remaining{% else %}<img src="{% static "/images/" %}{{ max_expansion|expansion_icon }}"
                                 alt="{{ max_expansion }}">{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>NPC Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Level</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
