{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4">
        <div class="row-4" style="text-align: center; font-weight: bold; background-color: #cedff2; border: #000 solid 1px;">Odus and Faydwer</div>
        <div class="row align-items-start">
            <div class="col px-4">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li>Erudin
                        <ul>
                            <li><a href="/zones/view/erudnext" title="Erudin">Erudin</a></li>
                            <li><a href="/zones/view/erudnint" title="Erudin Palace">Palace</a></li>
                        </ul>
                    </li>
                    <li><a href="/zones/view/paineel" title="Paineel">Paineel</a></li>
                </ul>
                <p style="font-weight: bold;">Outdoors / Dungeons</p>
                <ul>
                    <li><a href="/zones/view/erudsxing" title="Erud's Crossing">Erud's Crossing</a></li>
                    <li><a href="/zones/view/kerraridge" title="Kerra Island">Kerra Island</a></li>
                    <li><a href="/zones/view/tox" title="Toxxulia Forest">Toxxulia Forest</a></li>
                    <li><a href="/zones/view/hole" title="The Hole">The Hole</a></li>
                    <li><a href="/zones/view/stonebrunt" title="Stonebrunt Mountains">Stonebrunt Mountains</a></li>
                    <li><a href="/zones/view/warrens" title="The Warrens">The Warrens</a></li>
                </ul>
            </div>
            <div class="col align-self-center">
                <img alt="Map rav odus faydwer.jpg"
                     src="{% static "/images/Map_rav_odus_faydwer.jpg" %}"
                     width="556" height="241"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">Cities</p>
                <ul>
                    <li><a href="/zones/view/akanon" title="Ak'Anon">Ak'Anon</a></li>
                    <li>Felwithe
                        <ul>
                            <li><a href="/zones/view/felwithea">Northern</a></li>
                            <li><a href="/zones/view/felwitheb">Southern</a></li>
                        </ul>
                    </li>
                    <li>Kaladim
                        <ul>
                            <li><a href="/zones/view/kaladima">South</a></li>
                            <li><a href="/zones/view/kaladimb">North</a></li>
                        </ul>
                    </li>
                    <li><a href="/zones/view/gfaydark" title="Kelethin">Kelethin (Greater Faydark)</a></li>
                </ul>
                <p style="font-weight: bold;">Outdoors / Dungeons</p>
                <ul>
                    <li><a href="/zones/view/butcher" title="Butcherblock Mountains">Butcherblock Mountains</a></li>
                    <li><a href="/zones/view/cauldron" title="Dagnor's Cauldron">Dagnor's Cauldron</a></li>
                    <li><a href="/zones/view/gfaydark" title="Greater Faydark">Greater Faydark</a></li>
                    <li><a href="/zones/view/lfaydark" title="Lesser Faydark">Lesser Faydark</a></li>
                    <li><a href="/zones/view/oot" title="Ocean of Tears">Ocean of Tears</a></li>
                    <li><a href="/zones/view/steamfont" title="Steamfont Mountains">Steamfont Mountains</a></li>
                    <li><a href="/zones/view/crushbone" title="Crushbone">Crushbone</a></li>
                    <li><a href="/zones/view/kedge" title="Kedge Keep">Kedge Keep</a></li>
                    <li><a href="/zones/view/mistmoore" title="Mistmoore Castle">Mistmoore Castle</a></li>
                    <li><a href="/zones/view/unrest" title="The Estate of Unrest">The Estate of Unrest</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}