{% load data_utilities %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <span style="font-weight: bold;">Spawn Points</span> -
            <span style="font-style: italic">Found {{ spawn_points|length }} spawn points in {{ zone_data.short_name|zone_short_to_long }}:</span>
            <table id="spawn-table" class="display table table-striped" style="width: 100%;">
                <thead>
                <tr>
                    <th>Coordinates (y, x, z)</th>
                    <th>NPC Names</th>
                    <th>Respawn</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </thead>
                <tbody>
                {% for point, spawn_entry_results in spawn_points %}
                    <tr>
                        <td>
                            ({{ point.y|stringformat:".1f" }}, {{ point.x|stringformat:".1f" }}, {{ point.z|stringformat:".1f" }})
                        </td>
                        <td>
                            {% for spawn_entry in spawn_entry_results %}
                                <a href="/npcs/view/{{ spawn_entry.npcID.id }}">{{ spawn_entry.npcID.name|clean_name }}</a> ({{ spawn_entry.chance }}%)<br/>
                            {% endfor %}
                        </td>
                        <td>{{ point.respawntime|datetime_delta }} ({{ point.variance|datetime_delta }})</td>
                        <td><img src="{% static "/images/" %}{{ point.min_expansion|expansion_icon }}"
                                 alt="{{ point.min_expansion }}"></td>
                        <td><img src="{% static "/images/" %}{{ point.max_expansion|expansion_icon }}"
                                 alt="{{ point.max_expansion }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Coordinates (y, x, z)</th>
                    <th>NPC Names</th>
                    <th>Respawn</th>
                    <th>Min Expansion</th>
                    <th>Max Expansion</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
