{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4">
        <div class="row-4"
             style="text-align: center; font-weight: bold; background-color: #cedff2; border: #000 solid 1px;">Velious (Releases on EQA on October 28 2024)
        </div>
        <div class="row align-items-start">
            <div class="col px-4">
                <p><b>Outdoors</b></p>
                <ul>
                    <li><a href="/zones/view/cobaltscar">Cobalt Scar</a></li>
                    <li><a href="/zones/view/eastwastes">Eastern Wastes</a></li>
                    <li><a href="/zones/view/greatdivide">The Great Divide</a></li>
                    <li><a href="/zones/view/iceclad">Iceclad Ocean</a></li>
                    <li><a href="/zones/view/wakening">Wakening Land</a></li>
                    <li><a href="/zones/view/westwastes">Western Wastes</a></li>
                </ul>
            </div>
            <div class="col py-5">
                <img alt="Map rav velious.jpg" src="{% static "/images/Map_rav_velious.jpg" %}" width="390"
                     height="186"/>
            </div>
            <div class="col">
                <p><b>Cities</b></p>
                <ul>
                    <li><a href="/zones/view/thurgadinb">Icewell Keep</a></li>
                    <li><a href="/zones/view/kael">Kael Drakkal</a></li>
                    <li><a href="/zones/view/skyshrine">Skyshrine</a></li>
                    <li><a href="/zones/view/thurgadina">Thurgadin</a></li>
                </ul>
                <p><b>Dungeons</b></p>
                <ul>
                    <li><a href="/zones/view/crystal">Crystal Caverns</a></li>
                    <li><a href="/zones/view/necropolis">Dragon Necropolis</a></li>
                    <li><a href="/zones/view/sirens">Siren's Grotto</a></li>
                    <li><a href="/zones/view/sleeper">Sleeper's Tomb</a></li>
                    <li><a href="/zones/view/templeveeshan">Temple of Veeshan</a></li>
                    <li><a href="/zones/view/frozenshadow">Tower of Frozen Shadow</a></li>
                    <li><a href="/zones/view/velketor">Velketor's Labyrinth</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
