{% load static %}
{% load data_utilities %}
{% block content %}
    <div class="container-fluid px-4">
        <div class="row-4"
             style="text-align: center; font-weight: bold; background-color: #cedff2; border: #000 solid 1px;">Velious
        </div>
        <div class="row align-items-start">
            <div class="col px-4">
                <p><b>Outdoors</b></p>
                <ul>
                    <li>Cobalt Scar</li>
                    <li>Eastern Wastes</li>
                    <li>The Great Divide</li>
                    <li>Iceclad Ocean</li>
                    <li>Wakening Land</li>
                    <li>Western Wastes</li>
                </ul>
            </div>
            <div class="col py-5">
                <img alt="Map rav velious.jpg" src="{% static "/images/Map_rav_velious.jpg" %}" width="390"
                     height="186"/>
            </div>
            <div class="col">
                <p><b>Cities</b></p>
                <ul>
                    <li>Icewell Keep</li>
                    <li>Kael Drakkal</li>
                    <li>Skyshrine</li>
                    <li>Thurgadin</li>
                </ul>
                <p><b>Dungeons</b></p>
                <ul>
                    <li>Crystal Caverns</li>
                    <li>Dragon Necropolis</li>
                    <li>Siren's Grotto</li>
                    <li>Sleeper's Tomb</li>
                    <li>Temple of Veeshan</li>
                    <li>Tower of Frozen Shadow</li>
                    <li>Velketor's Labyrinth</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
