<div class="container-fluid border-top bg-light py-5">
  <footer class="py-5">
    <div class="row px-5">
      <div class="col-2">
        <h5>EQA Resources</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.dropbox.com/s/bppy4ebt7vl7hwk/TAKP%20PC%20V2.1c.zip?dl=0" class="nav-link p-0 text-muted">Download the Client</a></li>
            <li class="nav-item mb-2"><a href="https://github.com/EQArchives/EQMacEmu" class="nav-link p-0 text-muted">Server Source Code</a></li>
            <li class="nav-item mb-2"><a href="https://github.com/EQArchives/quests/" class="nav-link p-0 text-muted">Quests Source Code</a></li>
            <li class="nav-item mb-2"><a href="https://eqarchives.com" class="nav-link p-0 text-muted">EQA Wiki</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>EQ Resources</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.everquest.com/home" class="nav-link p-0 text-muted" target="_blank">Everquest.com</a></li>
          <li class="nav-item mb-2"><a href="https://www.eqtraders.com" class="nav-link p-0 text-muted" target="_blank">EQ Traders</a></li>
          <li class="nav-item mb-2"><a href="https://everquest.allakhazam.com" class="nav-link p-0 text-muted" target="_blank">Allakhazam's</a></li>
          <li class="nav-item mb-2"><a href="https://www.steveprutz.com/eq/" class="nav-link p-0 text-muted" target="_blank">EQ Map Preserve</a></li>
        </ul>
      </div>
        <div class="col-2">
            <h5>Emulator</h5>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.eqemulator.org" class="nav-link p-0 text-muted" target="_blank">EQ Emulator</a></li>
            <li class="nav-item mb-2"><a href="https://wiki.project1999.com/" class="nav-link p-0 text-muted" target="_blank">P99 Wiki</a></li>
            </ul>
        </div>

      <div class="col-2">
        <h5>TAKP Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://www.takproject.net/" class="nav-link p-0 text-muted" target="_blank">Home</a></li>
          <li class="nav-item mb-2"><a href="https://www.takproject.net/forums/index.php" class="nav-link p-0 text-muted" target="_blank">Forums</a></li>
          <li class="nav-item mb-2"><a href="http://wiki.takp.info/index.php?title=Main_Page" class="nav-link p-0 text-muted" target="_blank">Wiki</a></li>
          <li class="nav-item mb-2"><a href="https://github.com/EQMacEmu/" class="nav-link p-0 text-muted">Github Page</a></li>
        </ul>
      </div>

      <div class="col-3 offset-1">
        <form>
          <h5>Join our Discord!</h5>
            <p>Connect with the EQA community.</p>
          <div class="d-flex w-100 gap-2">
            <a class="btn btn-primary" type="button" href="https://discord.gg/9e5N8VAu7n">Join</a>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-between py-4 px-4 my-4 border-top">
        <p class="text-center">EverQuest is a registered trademark of Daybreak Game Company LLC.
EQEmulator, EQMacEmu, TAKP, and Everquest Archives are not associated or affiliated in any way with Daybreak Game Company LLC.</p>
    </div>
  </footer>
</div>